[2015-11-12 19:42] alexcanessa opened #2 "Tag name in the options"
Could be useful to have the tag name to release as an option. Default `latest`

The implementation would be at: (line `164`)

[code]

[2015-11-12 20:00] alexcanessa opened #3 "Cleanse option"
Allow to --cleanse, so to delete all the tags between the latest tag (the new release) and the latest release.

[2015-11-13 20:59] #3 closed

[2015-11-13 20:59] alexcanessa commented on #3
Not needed: must not delete the tags

[2015-11-18 15:00] alexcanessa opened #4 "Handle the 401 Error"
Handle errors regarding the token.

[2016-03-01 18:14] abhurtun opened #5 "Include Various Types Of Commit Messages"
It would be useful to include options eg.
- --Include=All
- --Include=Commits
- --Include=MergePull

to return for example merge pull request commit messages at the moment it only returns commit messages

![image](https://cloud.githubusercontent.com/assets/10434616/13436813/f0681af6-dfd8-11e5-9cf8-1b34d1190ba7.png)

[2016-03-02 11:16] AurelioDeRosa opened #7 "Add the possibility to create a CHANGELOG file"
In addition to publishing the changes for a release in GitHub, it'd be nice if the task could create a CHANGELOG file in Markdown.

[2016-03-03 12:46] #5 closed

[2016-03-03 12:48] alexcanessa commented on #7
Thanks, it is on the list :+1:

[2016-03-11 01:34] ctesene commented on #7
It would also be nice if we **just** wanted the file created. We already have some tooling around creating the release in GitHub, and have a need to generate a ```changelog``` for distribution to other teams (such as QA, etc) so they know what changes were included in the release.

[2016-05-15 17:06] AurelioDeRosa opened #8 "Add the possibility to generate a changelog via the local history"
This feature would have the advantage of avoiding a connection to GitHub.

[2016-06-02 08:13] alexcanessa opened #9 "Get the information from the local git config"
Have the chance to get informations of the user and the repo from the local config, if not provided.

[2016-06-09 19:43] alexcanessa opened #10 "Use the issues as data source"
Use issues as default data for release notes, and add the option for using commits.

[2016-06-09 19:45] alexcanessa opened #11 "Add tests"
Create unit tests for **utils** and **gren** functions

[2016-06-10 07:22] alexcanessa opened #12 "Add the chance to rebuild the history of release notes"
Have the flag for **history** releases or **latest** (default).

If history:
- check all the release, and create the body for all of them.
- create the full changelog
- if the changelog or the release body already exist, stop.
- if the option override is true, then override both changelog and release notes

[2016-06-10 16:39] alexcanessa opened #13 "Check the network"
Check the network before starting the task, and fail if there is no network

[2016-06-11 17:35] alexcanessa opened #14 "Add the chance to override the latest release body"
Create a `--override` flag to override the latest release, if the release exists already.

[2016-06-11 18:45] alexcanessa opened #15 "Manage the scenario where there is only one tag"
Check and eventually fix what happen if there is only one tag.

[2016-06-16 13:35] alexcanessa opened #16 "Update the documentation"
Update the documentation and the `readme.md` file according to the new features.

[2016-06-16 13:36] alexcanessa opened #17 "Use milestones as data source"
Create release notes using milestones' issues rather than tag dates. (as option)

[2016-09-26 18:59] alexcanessa opened #18 "Create global version of the module"
Make the module working from everywhere, also using bash variables using #9

[2016-09-26 20:54] alexcanessa commented on #17
Not sure if would be a good idea. The release are based on dates, the milestone might be used in a different way.

[2016-09-26 20:54] #17 closed

[2016-09-26 20:56] alexcanessa opened #19 "Add an "ignore label" flag"
Add the chance to remove issues with one or more issues.

_e.g. ignore all the `wontfix` issues_

[2016-09-26 21:03] alexcanessa opened #20 "Specify which tag to build"
I want to have the chance to build the release of a specific tag, *e.g.* `--tags=0.1.0.`
This would create the release notes based on the tag `0.1.0` and the previous one.

I also want to specify the range between two tags, so `--tags=2.0.0,1.0.0` would create the release notes with all the issues closed between those two tags.

[2016-09-26 21:48] alexcanessa commented on #16
`README.md` file updated and new documentation is now available (http://gren.alexcanessa.me)[here]

[2016-09-26 21:50] alexcanessa commented on #15
It works now and get the commits or issues between that tag and 01/01/1970 😄

[2016-09-26 21:51] alexcanessa commented on #14
Using the `--override` flag is now possible to override wherever target release (to change a different target, see #20

[2016-09-26 21:52] alexcanessa commented on #2
Duplicate of #20

[2016-09-26 21:52] #2 closed

[2016-09-26 22:01] #20 closed

[2016-09-26 22:01] #7 closed

[2016-09-26 22:01] #9 closed

[2016-09-26 22:01] #10 closed

[2016-09-26 22:01] #11 closed

[2016-09-26 22:01] #13 closed

[2016-09-26 22:01] #14 closed

[2016-09-26 22:01] #15 closed

[2016-09-26 22:01] #16 closed

[2016-09-26 22:01] #18 closed

[2016-09-27 05:47] alexcanessa opened #23 "Introduce templates for the issues"
Give the opportunity to set a custom template for the issues in the options (maybe in a `.grenrc` file).

The reason is that I might want to output different types of information from the issue.

It could be something like:

[code]

[2016-09-27 11:17] alexcanessa opened #24 "The changelog action doesn't compile latest release"
When trying to run the `changelog` action on the latest release, it doesn't get the right notes body.

[2016-09-27 11:21] #24 closed

[2016-09-27 16:19] alexcanessa opened #26 "Use external config file"
Use a `gren.json` config file to extend module's config

[2016-10-07 08:34] potmo commented on #4
I get a 401 when I have an access token with repo access. If I add access to everything it seems to work but I'm not sure what access that fixes the problem.

I have a private repo btw

[2016-10-07 09:00] alexcanessa commented on #4
@potmo The only scope you need for the token is the `repo` access, doesn't matter if the repo is private: if you have access to it, so will the token.

Try to go to your personal `settings > Developer settings > Personal access tokens`, click `edit` next to the token you want to update, and check all the `repo` scopes, as for the screenshot below:

![image](https://cloud.githubusercontent.com/asse

[2016-11-30 10:27] phun-ky opened #27 "Add possibility to change date format"
It should be possible to specify date format other than US

[2016-11-30 10:31] alexcanessa commented on #27
@phun-ky could be related to #23. Definitely a good suggestion.

[2017-02-06 05:59] DawoudIO opened #28 "You need to have network connectivity"
looking to use this inside a vagrant box, but keep getting the following error

`You need to have network connectivity`

see my [package.json ](https://github.com/ChurchCRM/CRM/blob/8bb40d45a796c943d6aead826217e5aaae0931c9/package.json)

![image](https://cloud.githubusercontent.com/assets/554959/22636190/561e5708-ebee-11e6-91c9-f30ad4101eb6.png)

[2017-02-25 16:29] DawoudIO commented on #28
hi @alexcanessa any luck ?

[2017-03-06 10:50] alexcanessa commented on #28
Hi @DawoudIO we're investigating, I'll let you know as soon as we find a solution.

[2017-03-08 16:00] alexcanessa opened #29 "Remove escaping character on regexe"
Problem spot by `eslint`.

The RegExe doesn't need the escape character for the `.` when inside square braces.

[2017-03-08 16:01] #29 closed

[2017-03-09 14:31] alexcanessa commented on #28
@DawoudIO I've tried to replicate the issue inside vagrant but I couldn't.

Do you have any particular configuration for the network inside vagrant?

[2017-03-09 14:53] DawoudIO commented on #28
Thank you for looking at it...

We extended scotch.io's box see https://github.com/ChurchCRM/VagrantBox

No network changes

[2017-03-09 17:35] alexcanessa opened #32 "Unwrap github-api promises"
Stop using the callback from the `github-api` promises and handle the response through the promise itself, same as for catching the errors.

[2017-03-09 19:49] #32 closed

[2017-03-10 00:34] #23 closed

[2017-03-10 00:34] #26 closed

[2017-03-10 10:51] alexcanessa commented on #19
Would also be nice to have the option to just not output specific labels, via a `ignored-labels` option.

[2017-03-10 11:32] #19 closed

[2017-03-10 13:21] alexcanessa commented on #28
@DawoudIO In the next few days, there will be a release (**0.6.0**) which will hopefully provide more insight into what errors are occurring and where. This should help us identify what exactly is the error you are getting.

Stay tuned.

[2017-03-10 14:00] alexcanessa opened #37 "Introduce unit test"
Use `nyc` `babel` and `istanbul`

[2017-03-10 14:10] alexcanessa commented on #4
@potmo still an issue?

[2017-03-10 14:23] potmo commented on #4
I don't know. I gave up and used something else

[2017-03-10 14:49] DawoudIO commented on #28
Thanks looking forward to testing it

[2017-03-10 16:14] #4 closed

[2017-03-10 23:29] alexcanessa commented on #12
Closes by #38

[2017-03-10 23:29] #12 closed

[2017-03-11 12:41] alexcanessa opened #39 "Use different files type for configuration"
Would be nice to have the chance of having different type of files for configuration.

Right now only `.json` is allowed.

The script would look for:

- `.grenrc.json`
- `.grenrc.yml`
- `.grenrc.yaml`
- `.grenrc.js`
- `.grenrc`

[2017-03-11 23:16] alexcanessa commented on #28
@DawoudIO try to install version 0.6.0 (latest) and run it again.

[2017-03-11 23:17] alexcanessa commented on #39
Closed by #40

[2017-03-11 23:17] #39 closed

[2017-03-11 23:19] alexcanessa commented on #26
Related to #39

[2017-03-12 00:16] alexcanessa opened #43 "Error when there is only one tag"
If I try to run the script on repos with one tag only, I get this error:

[code]

[2017-03-12 00:58] #43 closed

[2017-03-12 13:29] alexcanessa commented on #27
We can add functions as template properties, so to evaluate wherever you want to customise.

P.S. The default date format is DD/MM/YYYY right now.

[2017-03-12 16:33] DawoudIO commented on #28
Tried and got 0.6.1

![image](https://cloud.githubusercontent.com/assets/554959/23833729/e7c26bb2-0706-11e7-9ac0-395b460cc46a.png)

[2017-03-13 08:00] alexcanessa opened #45 "Remove unused option user.name"
There is an option `user.name` that, if not defined, makes everything crash.
Since we're not using that option at all, we can remove it and fix the issue.

This bug comes from #28

[2017-03-13 08:00] alexcanessa commented on #28
@DawoudIO Oh, here we are.

Looks like you're running the task in a non-git environment (or at least where `git config user.name` has not been defined).

Since we don't actually need that information, I can do a quick patch this morning and in an hour you can use the tool.

This issue will be fixed as #45

[2017-03-13 08:06] #45 closed

[2017-03-13 08:08] alexcanessa commented on #28
@DawoudIO Try now with `0.6.2` :)

[2017-03-13 15:13] DawoudIO commented on #28
better

[code]

[2017-03-13 16:14] alexcanessa commented on #28
@DawoudIO LoL.

Alright, I'll come back to you soon :)

[2017-03-13 16:21] DawoudIO commented on #28
Thanks for the help

[2017-03-13 19:28] alexcanessa commented on #28
@DawoudIO join the [gitter chat](https://gitter.im/github-release-notes/Lobby), so we can face it better! 😄

[2017-03-13 19:39] alexcanessa commented on #28
@DawoudIO Wait, are you actually running it with `--token=xyz`?

The token has to be a ![generated token](https://github.com/github-tools/github-release-notes/#github-informations)

I also think repo and username might be wrong. Are you trying to run release notes for https://github.com/ChurchCRM/CRM?

You need to generate the token and then run the command with:

[code]

[2017-03-13 19:40] alexcanessa opened #47 "Check for the authorisation on the repo"
Throw the error for non-authorisation on the repo before the task runs.

[2017-03-13 19:53] alexcanessa commented on #28
@DawoudIO I was able to replicate it. Leave it with me

[2017-03-13 20:05] alexcanessa opened #48 "Fix multiple repo information"
When giving all the repo information the task fails with:

[code]

Issue coming from #28

[2017-03-13 20:08] #48 closed

[2017-03-13 20:10] alexcanessa commented on #28
@DawoudIO Release `0.6.3` 🤞

[2017-03-14 03:11] DawoudIO commented on #28
looking much better great work

[code]

now i have to learn to use the plugin and get `grunt-github-release-notes` worknig

thank you so much

[2017-03-14 03:11] #28 closed

[2017-03-14 09:36] alexcanessa opened #50 "Add GIF in readme.md file"
Would be nice to have the GIF of the task running in the readme.md file

[2017-03-14 11:42] SlowShip opened #51 "Installing old versions of github-release-notes no longer works"
Hey guys.

I think recent changes may have broken older versions of github-release-notes

We were using 0.4.0, if I make a brand new package.json with
[code]
and then run `npm install`

It errors out with fatal: Authentication failed for 'https://github.com/alexcanessa/github.git/'

I'm guessing it's because this repo existed in the past but has since been moved to the github-tools org but older v

[2017-03-14 13:39] alexcanessa commented on #28
@DawoudIO The [grunt-github-release-notes@0.5.0](https://github.com/github-tools/grunt-github-release-notes) has been updated to use the latest version

[2017-03-14 17:12] DawoudIO commented on #28
thanks I'll test with that..

[2017-03-14 17:28] alexcanessa commented on #51
Sure! Good point.

Thanks for the feedback!

[2017-03-14 23:58] #50 closed

[2017-03-15 01:45] alexcanessa opened #53 "Allow functions as template values"
Since we have now a `.grenrc.js` file, is possible to pass functions to the template configuration.
We can update the code so to accept a function and use it to parse the informations.

This way the user can customise the output with JavaScript (e.g. date formatting #27)

[2017-03-15 01:57] #27 closed

[2017-03-15 01:57] #53 closed

[2017-03-16 06:54] alexcanessa opened #55 "Create a group-by-label option"
Have the body of the releases grouped by the label, in order to have something like:

### Bugs:

- [#456](#) A fix
- [#789](#) Amother fix

### Enhancements:

- [#123](#) A lovely feature

[2017-03-16 11:06] alexcanessa opened #56 "Document how to use gren APIs"
Create an example for usage of `GithubReleaseNotes` as a dependency in other projects.

[2017-03-16 11:52] alexcanessa opened #57 "Fix object-deep-assign bug"
Since not part of dependencies, `object-deep-assign` is undefined.

[code]

[2017-03-16 11:52] #57 closed

[2017-03-17 09:06] alexcanessa opened #59 "Changelog action doesn't work in the grunt task"
The `fs.readFile()` fails when ran in as grunt action.

[2017-03-17 09:47] #59 closed

[2017-03-24 13:46] alexcanessa opened #61 "Rework the Changelog generator function"
The changelog action now has some `--override` capacity which is not really needed.

What the changelog function should be responsible for should only be to update the current `CHANGELOG.md` using the existing releases.

- The `--override` flag should only be able to override the latest release or a specific tag range.
- Use the `--tags=[]` option to configure the release range too. _optional_
- W

[2017-03-28 08:00] alexcanessa commented on #61
@DawoudIO would be good to have your feedback

[2017-03-30 03:25] DawoudIO commented on #61
i like --tags[] for a subset of the logs
to me override is a full wipe of the old changelog.md
I'm not sure i understand the last comment about changelog

@crossan007 any feedback on the above items

[2017-03-30 16:03] alexcanessa commented on #61
@DawoudIO I was wondering if the `--action=changelog` should be able to create release notes from scratch or should just get the actual release notes (that could have been generated by this module) from Github.

[2017-03-30 16:08] crossan007 commented on #61
I like the idea of being able to create from scratch.

[2017-03-30 16:08] crossan007 commented on #61
+1 for --tags[]

[2017-04-06 21:55] #55 closed

[2017-04-11 14:11] #61 closed

[2017-04-11 14:14] alexcanessa opened #64 "Get the options with an external npm tool"
Right now `gren` generates the options with a custom function. We should give this responsibility to an external package e.g. `minimist`

[2017-04-11 14:25] alexcanessa opened #66 "Create a --help section"
Would be nice to have the options listed with the description when there is the `--help` flag.

[2017-04-11 14:26] #64 closed

[2017-04-11 14:29] alexcanessa commented on #66
The tool would be [Commander](https://www.npmjs.com/package/commander), which also manages the options.

Good candidate to replace `minimist` added with #65 .

[2017-04-12 07:10] alexcanessa opened #67 "Use milestones to create release notes"
Give the option to:

1. List only issues that have Milestones, which I imagine would be just an option:
[code]
2. Create release notes based on milestones rather then on dates. _only applicable to issues_
To achieve it we need to create a matching system between the tag name and the milestone naming convention.
[code]
3. Use the description of the milestone in the release body.
4. Consider to filt

[2017-04-12 07:12] alexcanessa commented on #67
@DawoudIO this is a feature that you asked for. If you can add your feedback on top of the description would be nice.

[2017-04-12 07:14] alexcanessa opened #68 "Migrate to ES2015"
Since the module is getting bigger and bigger, would be easier to manage it if using `ES2015` classes.

After this will be implemented we can also create more unit tests to improve the stability of the module.

[2017-04-12 07:16] alexcanessa opened #69 "Remove the releases limit"
Apparently there is a bug which stops the script to run more than 30 releases. It might be a pagination thing coming from the APIs.

Needs further investigation.

[2017-04-13 08:18] alexcanessa opened #70 "Options don't get converted to camelCase from bash"
Since we've introduced `minimist`, the code doesn't convert the options given with dashes into camelCase.

[2017-04-13 10:44] #70 closed

[2017-04-16 15:20] durera opened #72 "Expanded options for commit template variables"
Unless I'm mistaken it seems message is the only variable available for templating commit entries. I was hoping to put together a changelog with a format something like:

`[{{sha}}]({{url}}) {{message}} - {{author.name}}`

I was wondering if there's a specific reason why `commitMessages()` just pulls out the commit message rather retaining the commit object (or a subset of it), which can then pass

[2017-04-16 16:05] alexcanessa opened #74 "Support GitHub Enterprise"
Add the option to use GHE with an `--api-url` option.

Suggested and submitted by @durera with #73.

[2017-04-16 16:09] alexcanessa commented on #72
@durera The commit messages as release bodies belong to a very old version of the module, therefore it wasn't expanded yet.

Would you think the whole Object should be exposed or just:

- SHA
- url
- message
- author (the whole Object)

PR?

[2017-04-16 17:17] durera commented on #72
I was thinking the whole object personally.  The size of the full commit object shouldn't cause any issues so I can't think of any reason to limit it to a subset of the properties..

I haven't written any code for it yet.  I've only just started poking around the code today so not sure what the scope/complexity of the change would be at the moment.

[2017-04-16 17:29] alexcanessa commented on #74
Closed by #73

[2017-04-16 17:29] #74 closed

[2017-04-17 08:50] alexcanessa commented on #8
Considered out of scope for this module, as the changelog is generated via existing release notes.

[2017-04-17 08:50] #8 closed

[2017-04-17 08:56] #67 closed

[2017-04-17 14:02] DawoudIO commented on #67
Sounds good please let me know when you have the build #

[2017-07-18 14:47] alexcanessa opened #77 "Check if there are no tags"
Manage the case where there are no tags in the repo.

Currently:

[code]

[2017-09-12 22:52] broofa opened #78 "README doesn't explain what gren does"
Installed `gren`, created github key, ran `gren`, no errors... but nothing seems to have happened?

`gren --help` yields nothing useful.

What exactly is the expected result of all this?  README seems to miss the mark in terms of explaining what this (hopefully useful) tool does, I'm afraid.

FWIW, my console output:

----
[code]

[2017-09-12 23:09] broofa commented on #78
*grumble*

Finally found https://github-tools.github.io/github-release-notes/examples after a bit of hunting around.

1. The way the `action` param is documented could be clearer.  IMHO, the first thing in the readme should be a `Usage` section with `gren [--action=[release|changelog] ...` style notation.  Then document each param, what it does, and provide an example below that.  (My $.02)

2. Th

[2017-09-12 23:12] broofa commented on #78
Oh... and look, apparently `gren` documented the release under [my project's "releases" tab](https://github.com/broofa/node-mime/releases).  That's really cool... yet not at all obvious that's what's happening.  (And, yes, maybe I should have surmised this was what was going to happen, but I was expecting it to generate a RELEASE_NOTES.md file or something like that.)

[2017-09-13 10:20] dddom commented on #78
I suppose it's worth mentioning I think it’d be great if first thing you read was about the philosophy of this tool, that it’s GITHUB RELEASE NOTES, how you should use GitHub to create the right content for this tool to use, what would be the steps or workflow, philosophy I’d need to adapt to be able to use this tool effectively, what benefits would that bring etc.

@broofa has a point about the g

[2017-09-14 09:17] motiz88 opened #79 "Support pull requests without associated issues"
Pull requests have all the discussion, tagging, search, project management, and other features of issues. But often, in a `gren`-enabled project, I'm still forced to create a separate issue when I've already made the PR that would close it (e.g. for a previously-unreported problem) because otherwise, the release notes would be incomplete. This adds overhead to what can be a seamless GitHub workflo

[2017-09-14 10:58] alexcanessa commented on #78
@broofa, @dddom good points.

I always had the impression that either the `README.md` or the documentation, in general, were clear enough.

Thanks for your feedback, definitely going to address it.

[2017-09-14 12:32] broofa commented on #78
If I had a nickel for every time I thought my docs were obvious, only to be proven horribly wrong... :-)

Thanks for your patience with this noob.

[2017-09-14 14:39] broofa opened #80 "`gren --help` quietly does shit"
[code]

Uhh... ![image](http://www.reactiongifs.us/wp-content/uploads/2014/10/this_time_doctor_who.gif)

But seriously, having the typical "what's this command do?" incantation result in cryptic output that gives no indication that, "hey, your release notes on Github just got updated, Bub!" kinda sucks.

And, more generally, here's the CLI I would expect:

| Command | Behavior |
| --- | --- |
| `g

[2017-09-15 16:33] alexcanessa commented on #80
Definitely, you're right and there is an issue for `gren --help` in particular #66.

We're going to introduce [Commander](https://www.npmjs.com/package/commander) in order to provide a better solution in terms of usability.

[2017-09-21 15:28] alexcanessa opened #81 "Swap Grunt with Gulp"
We prefer `gulp` over `grunt` now.

[2017-09-21 15:35] #66 closed

[2017-09-21 15:35] #68 closed

[2017-09-21 15:35] #80 closed

[2017-09-21 15:35] #81 closed

[2017-09-22 05:28] alexcanessa opened #83 "Create module initialisation panel"
Create a bit of GUI for a command `gren init` that would help to set up the module.

[2017-09-22 20:49] foxted opened #84 "Ignore commits with keywords"
It would be nice when generating the changelog to be able to ignore keywords from commit messages.

For example, when updating the changelog, I have to make a commit `Update changelog`, but these commits are then included in the changelog. Would be nice to ignore them by adding the keyword `changelog`.

[2017-09-22 21:57] alexcanessa commented on #84
Good point @foxted, thanks for your feedback.

[2017-09-27 07:41] alexcanessa opened #86 "Add body from the milestone in the release block"
When the option `data-source` is `milestone`, we can add the milestone description to the release body.

[2017-09-27 12:07] alexcanessa opened #87 "Collect data from usage"
Have a script that provides data on usage of `gren` and project information.
It would be nice then to collect this data for internal usage.

_Q:_
- _need to prompt the user in order to ask?_
- _configuration per project?_

[2017-09-28 08:43] alexcanessa commented on #87
Instead of collecting data for any usage, would be good enough to prompt the user to just let me know he/she's using the tool.

This would only update a list of projects using `gren`, rather than collect stats on how many times has been used.

[2017-09-30 12:55] alexcanessa commented on #79
Part of this feature is to add an option to use PRs as data source instead of issues.

[2017-10-08 13:02] alexcanessa commented on #87
Could be part of #83

[2017-10-08 13:10] alexcanessa commented on #77
Closed by #82

[2017-10-08 13:10] #77 closed

[2017-10-08 16:02] alexcanessa commented on #72
Closed by #88

[2017-10-08 16:02] #72 closed

[2017-10-08 16:02] alexcanessa commented on #37
Closed with #85

[2017-10-08 16:02] #37 closed

[2017-10-08 16:03] alexcanessa commented on #78
@broofa the new README.md and documentation should fix this issue.

Closed by #85

[2017-10-08 16:03] #78 closed

[2017-10-12 13:53] alexcanessa opened #90 "Fix the token option"
There is a bug where the token doesn't get retrieved when passed as an option.

The process exits with `undefined`

[2017-10-12 20:20] #90 closed

[2017-10-13 00:13] alexcanessa opened #92 "Ignore tags with a certain string"
Add the option `--ignore-tags-with` that would receive a string.

Any tags with this string will be ignored by `gren`.

[2017-10-13 00:16] alexcanessa opened #93 "Add Pull Requests as data-source option"
Add the option to use `prs` as `--data-source`.

[2017-10-13 00:28] #69 closed

[2017-10-13 07:26] alexcanessa opened #95 "Extend limit option to include pagination"
Apparently GitHub has a maximum of 99 items per page, even when per_page is set to more.

A recursive method needs to be implemented.

[2017-10-13 08:29] alexcanessa opened #96 "Translate Promises to async, await"
The whole module works with asynchronous code and would be much tidier to use the `async` - `await` syntax.

[2017-10-13 09:16] alexcanessa opened #97 "Create release npm task"
The releases should be automated (using `gren` 😅) in order to:

- Create the docs
- Generate release notes
- Update `CHANGELOG.md`

This could be done as a node script `release` and triggered by the pre-publish.

[2017-10-13 09:20] alexcanessa opened #98 "Manage issues with multiple labels"
## Current behaviour:

When the issues are grouped by label and an issue contains more than one label, the issue gets duplicated.

## Solution

- Use only the first in the order chosen by the user ✅ (#130)
- Create anoption `--duplicate-issue-with-label` (name TBC 😂) to be set to `false`.

[2017-10-14 18:03] alexcanessa commented on #95
- Delete the option `--limit` (?)
- Add a `--no-limit` one and then manage the pagination internally.

[2017-10-14 18:24] alexcanessa opened #99 "Use Babel transform runtime"
`Object.entries` is not translated which causes problems in earlier versions of Node.

`babel-plugin-transform-runtime` will solve the problem.

[2017-10-14 20:51] #95 closed

[2017-10-14 21:18] #99 closed

[2017-10-14 21:25] alexcanessa opened #102 "Create a better log"
The log coming from the commands should be a bit tidier.

- Show the chosen options.
- Show the building tags.
- Replace current loading dots with a progress bar.

[2017-10-14 21:51] alexcanessa commented on #56
Out of scope.

[2017-10-14 21:51] #56 closed

[2017-10-14 21:55] #51 closed

[2017-10-14 23:26] alexcanessa commented on #84
Closed by #103. Is going to be part of `Release 0.13.0`

[2017-10-14 23:26] #84 closed

[2017-10-15 00:33] foxted commented on #84
Awesome!

[2017-10-15 19:13] #93 closed

[2017-10-15 20:07] #92 closed

[2017-10-15 22:52] #96 closed

[2017-10-16 00:05] #102 closed

[2017-10-16 00:14] alexcanessa commented on #83
For questions: https://github.com/SBoudrias/Inquirer.js

[2017-10-16 09:59] alexcanessa opened #108 "Create a silent mode"
- `--quiet` option to avoid console logs.
- save the errors/logs in a `.log` file?

[2017-10-20 14:51] jakub300 opened #109 "Babel Runtime is missing"
Steps to reproduce:
1. Install: `npm install github-release-notes -g`
2. Run: `gren changelog`

Result:
[code]

According to [babel docs](https://babeljs.io/docs/plugins/transform-runtime/): `In most cases, you should install babel-plugin-transform-runtime as a development dependency (with --save-dev). [...] and babel-runtime as a production dependency (with --save). The transformation plugin is t

[2017-10-20 14:56] ebousse opened #110 "Configuration file not used with "gren release", but works with "gren changelog""
To avoid having to always write the option `--data-source=commits`, I have created a configuration file called `.grenrc.json` with this content:
[code]
Then in the same folder I try to do a github release, and we see that it only searches for issues, not commits, therefore creating a release with 0 issues (because there is none):
[code]

But if I do a `git changelog`, it does use the configuration

[2017-10-20 16:08] alexcanessa commented on #109
Thanks @jakub300 we'll try to get this fixed ASAP

[2017-10-20 16:08] alexcanessa commented on #110
@ebousse mmh.. 😕 let me investigate this and I'll come back to you 👍

[2017-10-24 12:06] alexcanessa opened #111 "Show if there is a new release available"
Every so often `gren` should pop if a new version is available.

[2017-10-26 10:13] alexcanessa opened #112 "Ask for rating via CLI (?)"
Don't know whether this is a good idea or not but might be an idea to ask for a ⭐️ via the CLI after a number of usages.

[2017-10-26 15:21] #109 closed

[2017-10-26 15:55] alexcanessa commented on #109
@jakub300 all fixed 👍

[2017-11-02 18:49] #110 closed

[2017-11-03 09:13] ebousse commented on #110
thanks! I'll give it a try ASAP

[2017-11-03 10:32] alexcanessa commented on #110
@ebousse brilliant, thanks. Let me know.

[2017-11-05 21:46] seriousben opened #114 "Support release using Docker"
I would really like to make https://github.com/seriousben/dockerized-github-release-notes a first-class feature of this project.

Is this a contribution that would be accepted?

[2017-11-06 13:44] seriousben opened #115 "Create a release commit with the changelog"
I would really like gren to also create a "release" commit containing the changelog.

[2017-11-06 15:31] alexcanessa commented on #115
This is a very good idea for an option.

Would you think it should push it too?

[2017-11-06 15:36] seriousben commented on #115
Yes it would be awesome if it did.

I would really like a way to bump versions as well but that is just me.

My dream workflow is:
1. My project is ready to release
2. I run the gren to:
   -  automatically bump the version (major or minor or patch) (read/write it from a package.json or a version file or from command line)
   - automatically tag it
   - automatically create a realse
   - automatic

[2017-11-14 10:46] alexcanessa commented on #115
@seriousben that sounds good.

I'm not sure whether `gren`'s responsibility ends and `npm scripts` begins tbh.

I do agree that:

- We should support semantic versioning and, in order to achieve it, we should implement something like [Angular commit messages](https://github.com/angular/angular.js/blob/master/DEVELOPERS.md#commits) for `commits`, `issues` and `PRs`.
- Option to `commit` and `push`

[2017-11-14 10:49] alexcanessa commented on #114
I think this would be great as part of the `docs` as "How to use `gren` with `Docker`"

[2017-11-24 09:20] luboskmetko commented on #115
Voting for this too. I really like gren but creating a new release is a bit cumbersome now:

- need to create a new (empty) release at GitHub first
- then running `gren release` this release is updated with actual data from the closed issues between the new release and the previous one
- then running `gren changelog` will update changelog which now includes data from this new release. However, thi

[2017-11-24 12:24] alexcanessa commented on #115
@luboskmetko I totally see your point.

_(Keep in mind tho that you don't have to create an empty release, the only thing you need is to `tag` a commit and push it)._

The problem is that `gren` needs `tags` in order to generate release notes and there is no workaround that I can think of, unless we add the option to base a release to a `commit SHA`, passing `tag_name` manually (which isn't ideal)

[2017-11-28 13:05] luboskmetko commented on #115
@alexcanessa thanks for the response. I don't know much about this stuff but will try your advice with tags to see if I can optimize my workflow. Will get back to you if I come up with something.

[2017-12-03 15:14] durera opened #116 "Generating release changelog from non-master branch commit history"
We have a system where the latest major release is always from master branch, but we also maintain old major releases in branches such v1.x, v2.x etc, etc.  If I run gren for a release from master everything works as I'd expect.  The release notes for the latest major release are generated and include all the commits from master branch, but if I want to make a new oldversion.x.y release I can't wo

[2017-12-04 10:11] alexcanessa commented on #116
Hello @durera, there aren't any options to choose a branch right now. I think is a very good idea tho!

Definitely going into the backlog 🎉

[2017-12-04 10:59] lauhakari opened #117 "Need some help creating notes from milestone."
Hey!

So found this package and thought it would make my day. Unfortunately It's not working as expected. What I am trying to do is build release notes based on issues with a milestone, but when I use _--data-source=milestones_ I just get empty notes.

My tags and milestones should match, i.e be the same and I am trying to run this for example:
`gren release --tags=v1.6.0 --only-milestones -o`.

A

[2017-12-04 12:23] alexcanessa commented on #117
Hello @lauhakari,

So you want to build release notes using Milestones as issue wrappers.

Keep in mind that you might have to specify a different `--milestone-match` ([see details here](https://github-tools.github.io/github-release-notes/options.html#milestone-match)) to match the Milestone titles (default `Release {tag_name}`).

So you should, if your milestone title is `Release v1.6.0` and your

[2017-12-04 12:45] lauhakari commented on #117
Hmm not really, must be misunderstanding something. I just get one line of issue, which is a lot older than the expected release.
Here's some details. Tag = v1.6.0 | Milestone = v1.6.0 .
Issues that were done are tagged with the milestone, and closed now. The commands I am tried runnig are.
`gren release --tags=v1.6.0 --data-source=milestone --milestone-match="{{tag_name}}"`
`gren release --tags=v

[2017-12-04 13:11] alexcanessa commented on #117
Based on what you're saying

[code]

Should have work, what's the outcome in the terminal?

[2017-12-04 13:15] lauhakari commented on #117
Thanks for the help. :)

So the output I get is the following
[code]
But still just one issue which is done before the release/tag and it doesn't even have a milestone on it.

Does it matter that the repo is private?

[2017-12-04 13:18] alexcanessa commented on #117
@lauhakari it doesn't: if it was a permission problem it would have complained about it.

I guess you're running it with the latest version of `gren` (`0.13.1`) (to check just run:

[code]

[2017-12-04 13:20] lauhakari commented on #117
Yep 0.13.1, just installed it this morning :)

[2017-12-04 13:31] alexcanessa commented on #117
ok @lauhakari, I'll do a couple of tests and let you know ASAP

[2017-12-04 13:37] alexcanessa commented on #117
@lauhakari all good on my side, quick chat on Gitter? https://gitter.im/github-release-notes/Lobby

[2017-12-04 14:24] alexcanessa commented on #117
So looks like there is an issue with passing options, as it works fine when using a `.grenrc` config file.

So the options issue needs a bit more of an investigation

[2017-12-04 14:33] alexcanessa opened #118 "Not all options pass via command"
Apparently, there is an issue when passing options via command line.

[2017-12-04 14:33] #117 closed

[2017-12-04 21:00] durera commented on #116
Great, I’ll have a look and try wing a PR your way .. I suspect it’s relatively simply change involving adding the sha=branchname param in the method in gren that looks up the commits and defaulting to master when not set.

[2017-12-05 10:13] alexcanessa commented on #116
@durera indeed, all the options coming from the command are in `/lib/_option.js` (same source utilised for documentation and application).

See how it goes :)

[2017-12-06 11:22] alexcanessa opened #119 "Tags `all` takes a lot to exit the task"
If I run

[code]

It takes a long time to exit the task after done.

[2017-12-06 12:04] alexcanessa commented on #119
Maybe only once .. can't replicate anymore.

[2017-12-06 12:04] #119 closed

[2017-12-07 01:32] pradgnyak opened #120 "Getting the list of releasesTypeError: Cannot read property 'status' of undefined"
Running:

[code]

Got the following error:
[code]

[2017-12-07 09:39] alexcanessa commented on #120
Hello @pradgnyak,

Please make sure that:

- The token that you've generated has `repo` scope.
- Your user has access to the repo.
- You have internet connectivity when running the command.

See if you still have the issue and let us know :)

[2017-12-07 10:26] alexcanessa opened #121 "Enhance commit message bodies template"
Manage the body of the commit in a prettier way.

[2017-12-07 16:20] pradgnyak commented on #120
I have full access to the repo and token was generated has repo scope.
tokenname — admin:org, admin:org_hook, admin:public_key, admin:repo_hook, gist, notifications, repo, user

I have it stored in bash_profile.
I have internet connectivity. - (made sure).
I am still unable to use the command and getting same error.

Note: My token was generated before installing the package.  Do I need to regener

[2017-12-07 16:45] alexcanessa commented on #120
@pradgnyak you're right: it doesn't matter when the token has been generated.

Unluckily the error is coming from `github-api` package that isn't checking for the `Request` to be defined. So to understand it, we have to debug the package itself.

A couple of more question while we're investigating:

- What is the OS?
- Is it a private or a public repo?
- Are you running the command from a `VM`?

[2017-12-07 20:12] pradgnyak commented on #120
OS- macOS Sierra version 10.12.6
This is a private repo
No I am not running the command from VM.

This utility looks really helpful, I really like the ease to generate release notes and changelings. I would really appreciate if you could help debug this.

[2017-12-07 21:12] alexcanessa commented on #120
@pradgnyak Thanks! Let's try and fix this then.

We're basically running in the same environment then 🤔

I know it is a bit tricky, but (since it is an external package) you should try this for me:

1. Open `/usr/local/lib/node_modules/github-release-notes/node_modules/github-api/dist/components/Requestable.js`
2. Go to line `364` and place a wonderful `console.log('object', object)` just after `i

[2017-12-07 23:13] pradgnyak commented on #120
🤖  - Generate release notes:
===================================
⠋ Getting the list of releasesobject { Error: connect ECONNREFUSED 127.0.0.1:80
    at Object._errnoException (util.js:1031:13)
    at _exceptionWithHostPort (util.js:1052:20)
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1195:14)
  errno: 'ECONNREFUSED',
  code: 'ECONNREFUSED',
  syscall: 'connect',
  address: '127.0.0.

[2017-12-07 23:29] alexcanessa commented on #120
@pradgnyak just to confirm, did you remove your repo informations from `url`?

[code]

[2017-12-07 23:32] pradgnyak commented on #120
Nope

[2017-12-07 23:43] alexcanessa commented on #120
Interesting. I think that's our clue then.

Are you running the command from your repo folder, right?

If yes, could you force `gren` to use your repo and run

[code]

[2017-12-08 00:19] alexcanessa commented on #120
@pradgnyak could you also try and run this from your repo folder and see what it returns?

[code]

[2017-12-08 02:01] pradgnyak commented on #120
Hi I was able to get the command running atlas I am not getting the  error.
But even though I have all the tags and when I run git command
git pull --tag
* [new branch]      sprint1    -> upstream/sprint1
 * [new tag]         1.0.0      -> 1.0.0
 * [new tag]         v1.0.0     -> v1.0.0
 * [new tag]         v1.0.1     -> v1.0.1
Already up-to-date.

Where as when I am running green command
gren rel

[2017-12-08 02:13] pradgnyak commented on #120
git config remote.origin.url results in
https://github.com/pradgnyak/xxxxx.git

[2017-12-08 02:34] pradgnyak commented on #120
Okay I am getting the error again when I try to use command
gren changelog --override username=pradgnyak repo_name=xxxx
Getting the list of releasesobject { Error: connect ECONNREFUSED 127.0.0.1:80
    at Object._errnoException (util.js:1031:13)
    at _exceptionWithHostPort (util.js:1052:20)
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1195:14)
  errno: 'ECONNREFUSED',
  code: 'ECON

[2017-12-08 09:24] alexcanessa opened #122 "Fix git configuration from `https`"
If the user has an `HTTPS` configuration, `gren` isn't able to get the information required to proceed.

[2017-12-08 09:38] alexcanessa commented on #120
Ok @pradgnyak !

The first issue I've found is that `gren` doesn't get the `HTTPS` configuration of the repo, and I've created an issue for this (#122). Until this issue gets fixed, you can run `gren` with the `username` and `repo` options as shown above.

_Note: for the changelog command, looks like you've missed the `--` before the options, otherwise, I suspect you would receive the same error._

[2017-12-08 10:02] alexcanessa commented on #120
@pradgnyak could you please try this? I would like to understand if this

[code]

And see if it returns your tags?

[2017-12-08 10:18] alexcanessa commented on #122
Using an external package rather than using `git config` would be the best solution.

Looking at https://www.npmjs.com/package/git-info

[2017-12-08 11:11] alexcanessa opened #124 "Create token creation command"
Coming from #83

Create the `$GREN_GITHUB_TOKEN` using the [API to generate a personal access token](https://help.github.com/articles/creating-a-personal-access-token-for-the-command-line/)

[2017-12-08 11:15] alexcanessa commented on #124
## How to generate a `token`

URL: https://developer.github.com/v3/oauth_authorizations/#create-a-new-authorization

When making a request to that endpoint, if you don't specify a client_id and client_secret in the request, a personal access token will be created.

Here's an example `curl -v` request:

[code]

If you have two-factor authentication enabled and make the above request, the GitHub API

[2017-12-08 11:17] #83 closed

[2017-12-08 11:17] #108 closed

[2017-12-08 16:23] #122 closed

[2017-12-08 16:25] alexcanessa commented on #79
I've chatted with GitHub APIs team and there is no way in the APIs to detect whether a PR closes any issues.

They're actually suggesting a RegExp against the keywords.

Still, something to address.

[2017-12-08 19:20] pradgnyak commented on #120
Hi - I am getting no list of tags
1. git tag
lists the tags
2. the curl call returns empty list
curl -X GET   https://api.github.com/repos/:user/:repo/tags   -H 'accept: application/json'   -H 'authorization: token xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'   -H 'content-type: application/json'
[

]

3. But what is weird is that I have another repo where the curl call returns the list.
[
  {
    "name": "v0.

[2017-12-08 19:32] pradgnyak commented on #120
Only difference - in the 2 different repos - is the way tags are created.
The one I am trying to test - tags are created on github
The one that returns the list of tags using the curl command was created as a part of post build action.

[2017-12-08 19:34] pradgnyak commented on #120
node - v9.2.0
npm - 5.5.1

[2017-12-08 19:38] alexcanessa commented on #120
@pradgnyak ok,

The call that we just tried is just using `GitHub` APIs directly, so at this point, we can at least remove `gren` itself as the source of the problem.

For what concerns the original issue (the `TypeError - status of undefined` thing), your problem has been fixed and you can run `gren release` from the repo folder without specifying owner and repo.
Use `github-release-notes@0.14.1`

[2017-12-08 22:08] pradgnyak commented on #120
Hi I have been able to access the tags.
1. Created tags using git command and that way it works. Using github release tab as mentioned in your notes didn't.

I am able to generate the changelog but it seems empty.

The changelog as you described should be the commit message is that right?
I am getting
Command -
gren changelog --generate --override --changelog-filename=RELEASE_NOTES.md --username=p

[2017-12-08 23:42] alexcanessa commented on #120
1) The default option for `data-source` is issues, e.g. the issues closed between two **git tags**. If you want to show commits instead, you have to use `--data-source=commits` [see more details here](https://github-tools.github.io/github-release-notes/options.html#data-source)
2) `gren release` gets those tags and creates the release notes on the release tab.
3) `gren` last version now gets infor

[2017-12-11 07:23] alexcanessa commented on #120
Closing.. if you need further help, feel free to reopen or create a new issue :)

[2017-12-11 07:23] #120 closed

[2017-12-22 21:38] dahluwalia-ag opened #126 "Unexpected behavior of release note generation between tags"
Great tool and appreciate that you wrote this. I am trying it out and have run into an unexpected behavior.

This is probably best explained in an image, so please see the below image.
<img width="949" alt="issues" src="https://user-images.githubusercontent.com/32851796/34312948-9a1c1efc-e71c-11e7-9ef3-2eab62a835e7.png">

Basically, the issue is that I expecting that release notes pick up commit m

[2017-12-26 07:59] alexcanessa commented on #126
Hello @dahluwalia-ag

I’ll investigate and see what I can do :)

[2018-01-03 10:03] alexcanessa commented on #126
@dahluwalia-ag we couldn't find any errors in terms of issues timeline generator.

I've noticed that few issues ([7](https://github.com/Aperio-Group/testingstuff/issues/7) and [8](https://github.com/Aperio-Group/testingstuff/issues/8)) aren't closed.

To make sure that everything is clear, [have a read of how issue tracking works](https://github-tools.github.io/github-release-notes/concept.html#fe

[2018-01-04 11:50] RobAustin opened #127 "Not Found"
I'm getting the following issue ( see below ) when using gren with a private repo, how is this URL generated for the API, this is the URL for my release notes page

[code]

🤖  - Generate release notes:
===================================
⠴ Getting the list of releases{ Error: 404 error making request GET https://api.github.com/repos/ChronicleEnterprise/Chronicle-Fix-Demo/releases: "Not Found"

[2018-01-04 14:24] alexcanessa commented on #127
Hello @RobAustin,

Does the `token` you've generated have all `repo` scopes?

[2018-01-04 14:42] RobAustin commented on #127
thanks that fixed it.

[2018-01-04 14:44] #127 closed

[2018-01-08 21:09] dahluwalia-ag commented on #126
Thanks for the feedback! Yes, you're right, those github issues are still open. Something is wrong with my testing repository because some commits didn't get pushed. I'll test again and report back if anything is still fishy. (So far looks like my user error!)

[2018-01-08 23:39] dahluwalia-ag commented on #126
So I had a chance to play around with the tool today.

I now understand what is going on.  As you mentioned, gren is using the "date the issue was closed".  I am driving the closure of issues through my commit messages. However, the date the issues actually get closed is when the commits are pushed.  This was the cause of the disconnect.  I thought the "issue closure date" was the same as when I "

[2018-01-10 12:24] alexcanessa commented on #126
Hello @dahluwalia-ag,

It makes sense that the issue gets only closed when the commit gets pushed, but I totally see your point.

Currently, we have an option to **ignore** commit messages that contain specific words ([see documentation here](https://github-tools.github.io/github-release-notes/options.html#ignore-commits-with)), I really like your idea of an option to operate the other way around.

[2018-01-15 08:56] wellDan28 opened #128 "PR is not exists on the release notes"
Hey,
I've facing some unexpected behavior:
In my repo the tag [v1.13.0](https://github.com/wellDan28/gren-test/tree/v1.13.0) was added after a [pull-request](https://github.com/wellDan28/gren-test/pull/6) was [merge](https://github.com/wellDan28/gren-test/commit/7a3a6b07ba849d79b21f5d4b7740168a0a5fd916) to the master but the pull-request is not include in the release notes.
I'm running the followi

[2018-01-15 10:11] alexcanessa commented on #128
Hello @wellDan28

Let me investigate and I'll come back to you.

[2018-01-19 11:49] #98 closed

[2018-01-24 20:49] svanzoest opened #131 "Template: PR branch name?"
Hi,

Based on the data test fixtures, it seems like this might be tricky, but I would love to be able to have access to the branch name, so I could post process it in template to create the CHANGELOG.

I couldn't find if this was available currrently.

[2018-01-24 23:37] alexcanessa commented on #131
Hi @svanzoest the only problem with this task is that right now we're using the `issue` API to get PRs (as a `pull_request` is - technically - an `issue`).

### The Solution:

1. Call the [get single PR](https://developer.github.com/v3/pulls/#get-a-single-pull-request) when the `issue` has been identified as PR:
https://github.com/github-tools/github-release-notes/blob/3e6b2e40e20a1abca065bfacad58

[2018-01-29 16:00] wellDan28 opened #132 "Tags not found"
Hey all,

I'm trying to run gren release against two specific tags and get the following error :

I think that this is happens because my repository have plenty of tags, and gren doesn't use paging when request tags from github api.

stacktrace:

  at tryCatch (C:\Users\dan\AppData\Roaming\nvm\v8.9.3\node_modules\github-release-notes\node_modules\regenerator-runtime\runtime.js:62:40)
  at Generato

[2018-01-30 08:51] wellDan28 opened #133 "PRs that didn't merge to the master are shown in"
I've got a possible,  I'm running with prs and the output contains prs that didn't merged to the master.

[2018-01-30 16:41] alexcanessa commented on #132
@wellDan28 actually `gren` does use pagination so that shouldn't really matter.
Let me look into this issue and I'll come back to you !

[2018-01-30 16:43] alexcanessa commented on #133
@wellDan28 This might be a nice feature (more than a bug) to have an option to get only PRs coming from `master`.

[2018-01-30 19:44] wellDan28 commented on #133
@alexcanessa just to make clear the PR was from a feature branch to the master but eventually was close without being merge it to the master.
It seems that you can use the github api  to check it [https://developer.github.com/v3/pulls/#get-if-a-pull-request-has-been-merged](https://developer.github.com/v3/pulls/#get-if-a-pull-request-has-been-merged)

[2018-01-30 19:52] alexcanessa commented on #133
@wellDan28 Ohhhhh I see!

Ok definitely a bug then. Thanks!

[2018-01-31 09:28] alexcanessa opened #134 "Sort tags by date before fetching release notes"
[GitHub APIs tags](https://developer.github.com/v3/repos/#list-tags) returns a list of tags ordered by name (as `git tag --list` does).

We have to order them per date or the functionality will break.

[2018-01-31 16:42] wellDan28 commented on #134
@alexcanessa you can use the  [github graphql api](https://developer.github.com/v4/explorer/) to get the result ordered by date.

For example:
`{
  repository(owner: "github-tools", name: "github-release-notes") {
    refs(refPrefix:"refs/tags/", last:100, orderBy:{field:TAG_COMMIT_DATE, direction: ASC}) {
      nodes {
        name
      }
    }
  }
}
`

[2018-02-01 08:20] wellDan28 commented on #134
@alexcanessa are you working on this issue?
can I try fixing it?

[2018-02-02 12:16] alexcanessa commented on #134
I've actually started looking into it, but not deeply. You're more than welcome to have a look.

Keep in mind that there is a function that gets the dates of the tags, so far used for other functionality but that could easily be implemented before in the flow and avoid this bug:

https://github.com/github-tools/github-release-notes/blob/3e6b2e40e20a1abca065bfacad58d25164c1d1db/lib/src/Gren.js#L332

[2018-02-05 15:53] wellDan28 commented on #134
It's look there is already a function for sorting by dates :
https://github.com/github-tools/github-release-notes/blob/3e6b2e40e20a1abca065bfacad58d25164c1d1db/lib/src/Gren.js#L856-L858

I think the real problem is that the paging not working, as I reported in  #132
The sorting is working but not on all tags are exists.

[2018-02-05 16:04] wellDan28 commented on #132
I think that what causing this possibly bug is the following code(part of the '_getLastTags' function)
https://github.com/github-tools/github-release-notes/blob/3e6b2e40e20a1abca065bfacad58d25164c1d1db/lib/src/Gren.js#L315-L318
the `this.options.tags.indexOf('all') >= 0 ` clause lets you use paging only if the tags parameter is 'all', so in my case where the tags parameter is two specific versions

[2018-02-09 02:00] smira2000 commented on #132
I seem to be experiencing this issue as well
[code]

[2018-02-09 22:48] svanzoest commented on #128
I am seeing this as well, where the last commit does not seem to be accounted for.

[2018-02-13 10:43] alexcanessa commented on #132
Mmh.. I see @wellDan28 how are you getting on?

[2018-02-13 10:45] alexcanessa commented on #132
The paging shouldn't really be a problem, especially when you don't specify `--tags=all`.

I'll try and investigate a bit too.

[2018-02-14 07:35] wellDan28 commented on #132
@alexcanessa I'll take a look at this issue today and tomorrow. I'll update you.

[2018-02-15 21:43] wellDan28 commented on #132
I'm working on a fix.

[2018-02-16 14:12] kimmo-steleco opened #135 "Request for support for issues closed with keywords in non-master branch."
Reference:
[GitHub: Closing issues using keywords](https://help.github.com/articles/closing-issues-using-keywords/)

If you use one of GitHub's keywords for closing an issue in a branch then the issue is marked for closing when the branch is merged with `master`.

*Note: I'm using `git flow`.*
So if i'm working in `hotfix/1.0.6` based on `master`.
And commit with the message `Resolved #12 ....` an

[2018-02-16 17:16] alexcanessa commented on #135
Interesting, I'll have a look and see what could be the problem

[2018-02-19 14:02] wellDan28 commented on #132
hey @alexcanessa I'm working on the tests to improve the coverage before we can merge this PR.
I've got a question about the following test:

https://github.com/github-tools/github-release-notes/blob/3e6b2e40e20a1abca065bfacad58d25164c1d1db/test/Gren.spec.js#L546-L556

I don't understand why is it possible to enter two tags and ignore one of them on the same time.

As far as I understand, if a use

[2018-02-19 15:47] alexcanessa commented on #132
@wellDan28 I know it's a bit of a paradox but if you think logic-wise it makes sense: `ignoreTagsWith` filters out tags that contain the specified string.

Are you saying that specifying exactly two tags should trump `ignoreTagsWith`?

[2018-02-19 16:14] wellDan28 commented on #132
I find it's strange, IMO the only case for using `ignoreTagsWith` should be when `--tags='all'`.
I think that exception should be thrown in the case that I mention above.

I'l try to explain why this scenario interests me:
In the pr #136  I added a method to validate that in case a user request two tags then these tags are exists after `_getLastTags` fetched the tags from github.

[2018-02-19 17:41] alexcanessa commented on #132
I think that exception should be thrown in the case that I mention above

Agreed 👍

[2018-02-19 18:59] wellDan28 commented on #132
Ok, so I'll change the test in #136 and will open a issue for allow use `ignoreTagsWith` only when `--tags='all'`

[2018-02-20 06:48] wellDan28 opened #137 "'ignoreTagsWith' should work only when the tag option is set to 'all'"
Following the discussion on #132

Exception should be thrown otherwise

[2018-02-21 12:55] #132 closed

[2018-02-21 14:53] wellDan28 commented on #133
Can I give it shot?

[2018-02-21 16:55] alexcanessa commented on #133
@wellDan28 sure!! 🏅

[2018-02-28 12:04] RobAustin opened #138 "Optionally create release notes to a text file."
Gren is a great tool - is it possible to use Gren to generate the release notes to a file. I see it's possible for the change log but this would be a good feature to have for the release notes.

[2018-02-28 21:37] YellowKirby opened #139 "Allow manual changes to persist across --override"
Hello,

We've been happily using GREN on an enterprise Github instance to generate release notes based on PR data. We have a use-case where we'd like to add additional, hand-crafted release notes on top of the GREN-generated data that could be persisted even when using `--override`. This would be really useful in adding migration guides for major/breaking releases. We often end up regenerating the

[2018-03-01 11:47] phun-ky commented on #128
I am also seeing this, the commits from a merged PR is ommited. Is it because of fast forward or something? I see the desired commits with `git log` though..

[2018-03-01 11:57] phun-ky opened #140 "html_url and url are both pointing to 'https://api.github.com..'"
Using:

    gren changelog --include-messages=all -B --override

    gren -V
    0.15.0

With this template:

    {
      "dataSource": "commits",
      "prefix": "",
      "includeMessages": "all",
      "changelogFilename": "CHANGELOG.md",
      "template": {
        "commit": "- [{{message}}]({{html_url}}) - {{author}}",
        "issue": "- {{labels}} {{name}} [{{text}}]({{html_url}})",

[2018-03-01 12:22] alexcanessa commented on #138
Hey @RobAustin, actually you can, by tweaking a bit the options:

## 1. Templates

You can change the output of each line via a [configuration file](https://github-tools.github.io/github-release-notes/options.html#templates)

If you don't want a markdown output then, you could use something like:

[code]

(and so on)

## 2. Filename option

You can change the output file of the `changelog` action.

[2018-03-01 12:24] alexcanessa commented on #128
Ok, looks like this is a top priority.

Working on this next 👍

[2018-03-01 12:39] #140 closed

[2018-03-01 12:42] RobAustin commented on #138
thanks

[2018-03-01 12:42] #138 closed

[2018-03-01 12:53] phun-ky commented on #140
nice @alexcanessa ! will test this directly, and see if it works

[2018-03-01 14:24] alexcanessa commented on #139
@YellowKirby I'm glad you're enjoying the tool!

That is a brilliant idea!! I do agree that is something very helpful.

Have you considered the other way around too (i.e. have a block for personal comments)?
This would mean that gren would just not touch whatever is in the _comment block_.

As this is coming from your experience, I'm just suggesting another solution to understand which one would s

[2018-03-01 18:23] YellowKirby commented on #139
For our specific use-case, having the gren data in a comment block would probably be simpler. That way we can just start adding more notes to the top of the release without needing to remember to enclose them in a special comment, kind of like how `git commit` works:

[code]

But either approach would be fine. If you think that a special comment block for personal comments would be more flexible,

[2018-03-02 23:36] lukemartin commented on #128
I've been looking into fixing this, and have a hit a bit of a roadblock.

I think the main problem is down to the time difference between a pull request being closed and the actual merge commit created.

For example:

	$ git log

	commit 754bebe07899617d4b4525bfa9b8596b4e9c8148 (HEAD -> master, tag: v1, origin/master, origin/HEAD)
	Author: Luke Martin <luke@lukemartin.me>
	Date:   Fri Mar 2 22:48:

[2018-03-03 13:29] lukemartin commented on #128
I've been thinking about this a bit more, and was wondering if using commit id's instead of dates might be more reliable for this sort of thing?

	exxxxxxx (tag3)
	dxxxxxxx
	cxxxxxxx
	bxxxxxxx (tag2)
	axxxxxxx (tag1)

	// release tag3
	// commits in release must be `cxxxxxxx,dxxxxxxx,exxxxxxx`
	// look for all closed PRs which have a merge commit id which is one of `cxxxxxxx,dxxxxxxx,exxxxxxx`
	//

[2018-03-05 09:45] phun-ky opened #143 "gren changelog vs gren changelog --generate inconsistency"
After fiddling with the PRs for #140, I came across something that might be an inconsistency in the code.

Running:

    gren changelog --include-messages=all --override

Generates `CHANGELOG.md` (with all releases) these lines (before the fix):

    ## v1.1.0-beta.0 (01/03/2018)
    - [1.1.0-beta.0](https://api.github.com/...) - Author Authorson

After changing the template in the global scope fo

[2018-03-05 09:52] phun-ky opened #144 "Feature to be able to specify limit on tags for the changelog"
I want to be able to run:

    gren changelog --limit-tags=30

Generating the release for just the 30 latest releases, so I don't get a huge file after some months of continuous development.

The feature should add a template string on the bottom of the changelog, like: "To see the full list" -> Point to releases

[2018-03-05 14:26] phun-ky opened #145 "Possible bug in version ranges for generating a release with --tags"
## Background

In our current setup, we utilize `master` only development, in which we deploy to different environments based on tags:

    // Deploys to dev test
    npm version 1.0.1-beta.x

    // Deploys to acceptance test
    npm version 1.0.1-rc.x

    // Deploys to production
    npm version 1.0.1

This results with the usage of `gren` that only the `1.0.1-beta.x` contains the full release

[2018-03-06 17:25] seiyria opened #146 "dotenv support"
this would be helpful for people who don't want to save an environment variable somewhere, and would rather keep it project specific.

[2018-03-06 18:01] seiyria opened #147 "customize changelog date format?"
Instead of DD/MM/YYYY, I'd like to use YYYY-MM-DD. I don't see an option for that.

[2018-03-06 19:54] alexcanessa commented on #143
The `gren changelog` command gets the releases body from the existing ones online, therefore the other options related to the "generating releases" won't be used.

If you want to generate the changelog from scratch, you can use `--generate` and use all the options from the `release` command.

[Docs](https://github-tools.github.io/github-release-notes/options.html#generate)

Maybe isn't clear enoug

[2018-03-06 20:04] alexcanessa commented on #144
There is already a sparkle of it in here. By editing this line, it should be quite easy.

https://github.com/github-tools/github-release-notes/blob/3e6b2e40e20a1abca065bfacad58d25164c1d1db/lib/src/Gren.js#L52-L52

[2018-03-06 21:19] alexcanessa commented on #145
Maybe there is a opaque documentation. Just to be clear:

## [Tags](https://github-tools.github.io/github-release-notes/options.html#tags)

`--tags=v1.2..0..v0.58.1` will produce a _single_ release notes output, _not_ individual release notes output for every tag in between those tags.

To do that you can run `gren` with the `--tags=all` flag.

## [Ignore tags](https://github-tools.github.io/githu

[2018-03-07 19:24] phun-ky commented on #147
@seiyria you can customize your own templates if you are using a configuration file. Best bet might be using a `.grenrc.js` file with something like this:

[code]

[2018-03-07 19:29] phun-ky commented on #146
Hm, In what way would this help? Can you give us a scenario?

[2018-03-07 19:33] seiyria commented on #146
For me, I just like having my config files not contain any code. I'm not
sure if there's any benefit per se.

On Wed, Mar 7, 2018, 13:29 Alexander Vassbotn Røyne-Helgesen <
notifications@github.com> wrote:

[2018-03-07 19:35] phun-ky commented on #143
Ah, no you misunderstand, the issue is not whether or not the number of releases are one or more, it's that `gren` some how caches between usage of `gren changelog` and `gren changelog --generate`.

After I applied the fix for #140 , I ran `gren changelog`, expecting the urls in `CHANGELOG.md` to be the correct one, but it was still pointing to `https://api.github.com/`. The only way I could force

[2018-03-07 19:40] seiyria commented on #147
Ah. I see. Thanks. I was hoping there's be a way to do it from a yml config
file instead (just to keep all of my configs in the same format).

On Wed, Mar 7, 2018, 13:26 Alexander Vassbotn Røyne-Helgesen <
notifications@github.com> wrote:

[2018-03-07 19:41] phun-ky commented on #146
@seiyria are you saying that you want the `GREN_GITHUB_TOKEN` in a `.env` file? Or something else?

[2018-03-07 19:42] seiyria commented on #146
Yes, that is correct.

On Wed, Mar 7, 2018, 13:41 Alexander Vassbotn Røyne-Helgesen <
notifications@github.com> wrote:

[2018-03-07 19:43] phun-ky commented on #147
@seiyria perhaps you are looking for a feature to set the desired date format via options?

Something like this?

[code]

[2018-03-07 19:44] seiyria commented on #146
Oh shoot. I responded to the wrong thread earlier, sorry. My reasoning for having a .env file contain my token is that I don't have to modify my windows path to add the env variable. If for whatever reason I want to update the token, changing it is easier. If i wanted to have multiple tokens for different orgs or projects I could do that.

It's also nice to have the option to not have to update my

[2018-03-07 19:46] seiyria commented on #147
Hmm. I'm not sure about setting the locale. In all honesty it'd be nice to use a library like moment.js and just support their date parsing formats, so you could pass in mm/dd/yyyy or yyyy-mm-dd or whatever you wanted. If you wanted to add seconds for the timestamp for example.

[2018-03-07 19:47] phun-ky commented on #146
You can already to that:

In your `.env`-file:

[code]

If you are using bash:

[code]

[2018-03-07 19:49] seiyria commented on #146
Sorry, I mean this dotenv: https://www.npmjs.com/package/dotenv

[2018-03-07 19:53] phun-ky commented on #146
Hm, so you can't just create a different `.env` file and run gren?  The way I showed you is exactly with `dotenv` does, without the bloat.

[2018-03-07 19:55] seiyria commented on #146
Your way is also platform dependent (I think). I'm on Windows, and I prefer cross platform solutions where possible.

[2018-03-07 19:59] seiyria commented on #146
I'll dig a little bit more, I think there's something I can do to require dotenv before running a different npm script.

[2018-03-07 20:00] phun-ky commented on #147
You rarely want to set the date format to anything other than the locale for the application, so why would you? What is the use case for this? You can do what you want, providing you use the correct locale:

[code]

[2018-03-07 20:01] phun-ky commented on #147
But, regardless, I support a feature to specify the date format, either by locale, or template strings

[2018-03-07 20:02] seiyria commented on #147
Well, I stated my use case: changing the format of the date. I had no idea
that sv-SE formatted dates like that and that's not the first thing I'd
think of when trying to format a date. However, if that is already
configurable then that's fine.

On Wed, Mar 7, 2018, 14:00 Alexander Vassbotn Røyne-Helgesen <
notifications@github.com> wrote:

[2018-03-08 08:52] phun-ky commented on #147
Yeah, you can use `moment.js` in that configuration file :=

[2018-03-08 10:51] phun-ky commented on #145
Well, `--tags=v1.2..0..v0.58.1` should give me a release note with everything between those, incrementally from `v0.58.1`, `v1.0.0` ... to `v1.2.0`. `v1.3.0*` should not be there at all, regardless of ignoring tags.

[2018-03-08 13:01] seiyria commented on #147
Right, but I'd have to change formats. I'd prefer an option to set instead
of changing my config file to have code.

On Thu, Mar 8, 2018, 02:53 Alexander Vassbotn Røyne-Helgesen <
notifications@github.com> wrote:

[2018-03-08 19:15] alexcanessa commented on #145
Yes, so `--tags=v1.2.0..v0.58.1` will create a release for `v1.2.0` with every issue (or commit) done in between these two tags. Is it not happening?

[2018-03-08 19:17] alexcanessa commented on #143
Ohhhh! I see now!

Ok good point! Thanks 😄

[2018-03-08 20:02] phun-ky commented on #145
If running `--tags=v1.2.0..v0.58.1` gives you every tag CREATED between those tags, and  that makes no sense, since there is no guarantee that the tags CREATED between those tags are the tags RELEASED. I think that with the current setup, running `--tags=v1.2.0..v0.58.1` it is assumed that you can't create a `1.4.0-rc` before a `1.2.0`.

`--tags=v1.2.0..v0.58.1` should only collect the tags ascend

[2018-03-09 10:04] dddom commented on #145
As far as I understand, based on how the Github API works and how GREN resolves the tags, they end up being sorted by date of the commit they reference. Seems this is confirmed by scenario outlined above.

I believe there the issue here is really to implement correct semver sorting, as that's not _actually_ what's happening right now.

But also from your comment @phun-ky, seems GREN is not conside

[2018-03-09 11:30] phun-ky commented on #145
With out deployment scenario, we release versions post-fixed with `-beta.[0-9*]` to a test environment for technical tests, and then we release versions with `-rc.[0-9*]` to an acceptance test environment for out testers, and then we release without prefixes to production.

If we only create release notes for production releases, we wouldn't have an issue, but for some cases we do want to add a ch

[2018-03-13 11:50] wellDan28 commented on #133
@alexcanessa just want to update that I'm thinking of using the new graph api because it's easier and cleaner to use it. the [v3](https://developer.github.com/v3/pulls/#list-pull-requests) api doesn't let you filter by merged pr while you can do it in the [graph](https://developer.github.com/v4/object/repository/#pullrequests) api.

The only drawback I can see is that the project will have two cli

[2018-03-13 14:42] alexcanessa commented on #133
@wellDan28 will also solve this one #134 right?

[2018-03-14 08:44] wellDan28 commented on #133
I think that #132 solved by #134

[2018-03-21 18:47] classyentrepreneur opened #150 "Separate templates for changelogs and releases"
As my repo is private, I'd like to keep links to issues in the release notes and remove them from the CHANGELOG.md file.

Any hints?

Thanks a lot for the GREN, it's awesome!

[2018-03-26 15:10] alexcanessa commented on #150
Hello @classyentrepreneur glad you're enjoying it!

Unfortunately, there is not an option that allows this scenario right now.

Something that could help would be to have a `--config-file` option and have two different `npm scripts`

[2018-03-27 07:30] classyentrepreneur commented on #150
I'm afraid, I don't understand :( Would you be so kind to provide some more details on how I could set it up?

Thanks a ton!

[2018-03-27 12:12] alexcanessa opened #151 "Add examples of npm scripts"
Write how to use `gren` as part of `npm` scripts

[2018-03-27 12:14] alexcanessa opened #152 "Add configuration-file option"
Add the option to run `gren` with a specific configuration file.

e.g.
[code]

[2018-03-29 09:23] alexcanessa opened #153 "Consider switching to GraphQL"
It makes sense to `gren` to use GitHub GraphQL as it would be much easier to manage and query what we need without different endpoints.

This could also potentially allow #79

---

Also coming from #134

[2018-03-29 16:27] classyentrepreneur commented on #150
Thanks for the clarification!

I'm afraid, I already have the config file in the project folder used for the release notes :(

[2018-04-02 12:49] wellDan28 commented on #128
I'm thinking that add a second to each of PR merged time fields might be a sufficient solution (not clean but sufficient)

[2018-04-02 12:59] wellDan28 opened #155 "Refactor Gren.js"
[Gren.js](https://github.com/github-tools/github-release-notes/blob/master/lib/src/Gren.js) is already have 975 lines and IMO it's very difficult to maintain it.
I think it should be split to a couple of modules: release, changelog, issues, commit, milestones, prs.

@alexcanessa what do you think?

[2018-04-03 05:46] wellDan28 opened #156 "Tags not found - bug"
apparently there was a bug in #136 (the pr that closed #132)

In the following line
https://github.com/github-tools/github-release-notes/blob/b034e4d85f3039f74a70599895514f5ba472ef11/lib/src/Gren.js#L315

The variable 'filteredTags' is an array and thus the length property should be use to inquire the number of filtered tags.
I'll pr soon

[2018-04-03 08:42] alexcanessa commented on #155
Definitely makes sense. 👍

[2018-04-03 08:43] #156 closed

[2018-04-07 17:06] jfix opened #158 "Commit author's name link is incorrect"
I've just started using `gren` so maybe this is just bad usage on my part.

I've configured `gren` with the CLI (very nice 👍), and this is the config file:

[code]

I've generated the Changelog for an existing release via `gren release --override`. While this works well, I've noticed that each list item ends with the author name which is supposed to be clickable.  I don't know why, but in my case,

[2018-04-11 15:26] dvojtise opened #159 "Add a custom template for the release note text pushed to github"
Hi
following instructions in https://github-tools.github.io/github-release-notes/options.html
I tried to customize the header text in order to have a default text in the github release note using the "release" template.
However it seems to act only on the changelog.md and not on the release note on github.

[2018-04-12 11:43] alexcanessa commented on #158
Hey @jfix, thanks for your feedback.

This one can be easily tackled by changing what gets passed to the template.

https://github.com/github-tools/github-release-notes/blob/78786b31a7a85afc884092af41c681669fe9652e/lib/src/Gren.js#L429-L436

[2018-04-12 11:45] alexcanessa commented on #158
I just realised that what the GitHub APIs come back with, doesn't contain the `username` but just the `name`

[code]

https://developer.github.com/v3/git/commits/#get-a-commit

[2018-04-12 11:55] alexcanessa commented on #159
Hi @dvojtise,

The `release` template option is only for the changelog file generation.

Where would you like to see that text? As the first paragraph of the release body or you would like to customise the actual release title more? (as right now you can just prefix it)

[2018-04-12 12:13] dvojtise commented on #159
Hi
I was thinking about some text at the beginning of the release body. Typically, to add some general instructions about where the user can find the corresponding binaries (not just the sources provided by github) and add some more friendly introduction text about the release.

Ideally, this could be combined with https://github.com/github-tools/github-release-notes/issues/139 in order to provide

[2018-04-12 15:35] alexcanessa commented on #159
@dvojtise can you see of any automated way of getting that information? Otherwise, I'd consider this issue as a 👍 to #139

[2018-04-13 12:01] dvojtise commented on #159
There are 2 points in my message:
- one is a :+1:  for #139 , (useful for roundtrip/iterative scenario but it does not suppose a customizable initial value for the user modifiable text field)
- the second is a way to initiate the release note body text from a template in grenrc.yml when creating the new note (this template is not automated, just added on creation of the message)

I was referring t

[2018-04-16 11:13] wellDan28 commented on #128
@alexcanessa what do you think about :point_up_2: ?

[2018-04-19 09:54] #144 closed

[2018-04-19 10:45] alexcanessa commented on #128
@wellDan28 not totally sure about the _"adding a second"_ solution as we don't know if there is a set time or a delay caused by their server etc.
In fact, the data is different for the last to PRs merged in this repo.

@lukemartin looking for all commits is quite an expensive solution in a real scenario when you have lots of commits.

### Possible solution

Although there are a few properties that

[2018-04-25 19:05] Aghassi opened #160 "GHE Release Notes Link using V3 API"
https://github.com/github-tools/github-release-notes/pull/73

While this works, we have an issue wherein all the links in the release notes link using the GHE url followed by `/api/v3`. This means users can't click through to the commit to see the changesets. I will be looking at a way to open a PR request in my free time, but if someone beats me to it go for it. Just wanted to post here in case m

[2018-04-30 22:52] kyeah opened #161 "Pass issue descriptions into templates"
Hi there! Similar to #131, I'm considering doing some custom formatting — in my case, by parsing a PR/issue's description to provide better context into a change.

I'd love to make a small PR to pass the description into the templating function; I'm also curious if you think generalizing this behavior to pass the full item into `generate` (either as another placeholder pair, or by changing the gen

[2018-05-03 17:00] tomshercliff opened #162 "Change in artifact name - Gren no longer creates release notes!"
We have recently changed the artifact name in the pom of one of our projects, and since then Gren doesn't seem to find new released versions to generate release notes when running 'gren release' (it only finds the previous two versions before the name change occurred - which have already had release notes generated!).

The tag created by maven release:prepare is visible in Github, and release note

[2018-05-04 17:29] alexcanessa commented on #162
Hello @tomshercliff,

It might be a problem related to #134. Could you tell me the names of the tags that `gren` doesn't pick up and the ones that does pick up?

[2018-05-08 07:54] tomshercliff commented on #162
Hi @alexcanessa - the names of the tags which are picked up are below:
chronicle-fix-parent-1.5.16
chronicle-fix-parent-1.5.17

Then we changed the artifactId in the pom from chronicle-fix-parent to chronicle-fix, and the tags below were not picked up:
chronicle-fix-1.5.18
chronicle-fix-1.5.19
etc.

So are you suggesting that (relating to #134) because chronicle-fix-1.5.18 will be sorted alphabeti

[2018-05-08 22:51] alexcanessa commented on #162
@tomshercliff yep something like that.

A release is going to get out soon and should fix this.
I'll update this issue 👍

[2018-05-10 09:03] #152 closed

[2018-05-11 20:32] iamjoeker commented on #135
I encountered this today. The issue is with the issue filter logic here: https://github.com/github-tools/github-release-notes/blob/56551aef2ed2c569bdf0f74459db5de56376a313/lib/src/Gren.js#L849-L859

It assumes that `closed_at` for the issue will be _before_ the tag timestamp—which is not the case if you use this workflow. Here are some examples from my repo where I'm starting to use gren. There sh

[2018-05-16 16:53] RobAustin commented on #162
@alexcanessa  thanks

[2018-05-16 19:44] kyeah opened #165 "Avoid paginating over all pull requests"
`getClosedIssues` uses `since` to grab only the needed issues:

[code]

`getMergedPullRequests` should do the same instead of paginating over all pull requests in the repo, which can take a long time.

[2018-05-21 08:28] darrenbritton opened #167 "add dry-run tag for testing"
I'd like to be able to set this up to be run automatically by jenkins when we run the script to deploy a release. it would be great if there was a --dry-run flag that would increase the log verbosity and show what the resulting context of the release log would be via stdout.

[2018-05-22 07:33] itaym2 opened #168 "Request to release a new version"
Hi,
First I want to say thanks for building & maintaining this project. It's really useful & helpful.

Second, I would like to request that you release the latest version of the project to npm. The last release was made on January. Since then there were several PRs merged, some of them solves existing bugs which make the project unusable for some of my repos.

Is it possible to release a new versi

[2018-05-22 10:27] alexcanessa commented on #168
Hi @itaym2 you're definitely right.

The new release is going out this Saturday! Stay tuned 🎉

[2018-05-23 09:28] #131 closed

[2018-05-23 09:28] #161 closed

[2018-05-25 09:16] tomshercliff commented on #162
Hi @alexcanessa - has this issue been fixed?  Thanks!

[2018-05-25 16:46] kyeah opened #169 "Group issues by first label matching a group"
Hi! This is a minor detail, but I think it'd be nice to always group an issue under a header if one exists, instead of grabbing the first label from the issue. e.g. if we're grouping by:

[code]

and an issue is labeled as [`experiment`, `updated`], it seems like it'll pick up `experiment` and leave the issue out of the commit notes, when the usual intention is to group under `updated`.

[2018-05-25 21:55] alexcanessa commented on #169
That's indeed an unexpected behaviour.

According to this, it should include the issue if the list of its labels includes the one defined in the group.

https://github.com/github-tools/github-release-notes/blob/837d4b2c13c8cfdf7fe48bb991d2a9dce0e5c8d1/lib/src/Gren.js#L801

Do you have an actual live example?

[2018-05-27 20:42] kyeah commented on #169
ah, I was skimming through `groupByLabel` and hadn't taken the time to test this out locally. The above snippet should handle this as expected — confirmed after testing. thanks!

[2018-05-27 20:42] #169 closed

[2018-05-27 23:06] alexcanessa commented on #168
@itaym2 @kyeah `0.16.0` is out!

https://github.com/github-tools/github-release-notes/releases/tag/0.16.0

[2018-05-27 23:06] #168 closed

[2018-05-27 23:09] alexcanessa commented on #162
It should be fixed by [0.16.0](https://github.com/github-tools/github-release-notes/releases/tag/0.16.0).

Could you check if you still have a problem?

[2018-05-29 09:27] mlbrgl opened #170 "Fun fact: your page breaks google SERP"
Not an issue at all (for you at least), but more of a curiosity: when typing "github release notes" in google search, here is what I see:

![capture d ecran 2018-05-29 a 11 21 54](https://user-images.githubusercontent.com/13406362/40650137-d9a81b1a-6332-11e8-9f7c-627c7cedb647.png)

Tried in a couple of browsers, same result. Didn't find any other "rogue" Github project that triggers a similar resu

[2018-05-29 10:38] alexcanessa commented on #170
Ha! That's interesting 🤔

[2018-06-01 08:31] tomshercliff commented on #162
Hi @alexcanessa - seems like we still have an issue here.  It still seems to be trying to access the latest release when the release names are sorted alphabetically:

[09:25:27][Step 2/2] Running command: [/usr/bin/gren, release] in /home/teamcity/agent_chronicle3/agent/3/work/84985a4243a311c4/ReleaseAutomation/projects/Chronicle-FIX
[09:25:28][Step 2/2]
[09:25:28][Step 2/2]     - Generate release

[2018-06-04 09:04] alexcanessa commented on #170
I think they just solved the problem 👍 (👎)

[2018-06-04 09:04] #170 closed

[2018-06-07 15:30] ebousse opened #171 "Provide a way to include the generated changelog file in the release"
To do a release with Gren, the workflow is:
- put a tag on a commit
- run `gren release`

After this is done, if one wants a textual `CHANGELOG.md` file, one can run `gren changelog`, which retrieves the description of the release from the repo and puts it into a file.

Then, if we want this generated  `CHANGELOG.md` to be part of the repo, we add it with a commit. However, this means this file is

[2018-06-11 14:08] htrqlik opened #172 "Add support for including fixed issues in the tag commit"
We do not create specific tag commits. Instead, we add a tag to the commit we want to create the release from. When doing like this, and creating a changelog from gren we've noticed that the fixed issue in the tag commit isn't included in the changelog.

[2018-06-15 10:21] eoinjordan opened #173 "GitLab Support"
GitLab doesn't appear to be supported:

gren release --token='XXXXXXXXXXXXXX'
/usr/local/lib/node_modules/github-release-notes/node_modules/object-assign-deep/objectAssignDeep.js:77
function executeDeepMerge (target, _objects = [], _options = {}) {
                                            ^

SyntaxError: Unexpected token =
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (mo

[2018-06-15 10:49] #173 closed

[2018-06-15 10:52] eoinjordan opened #174 "Cannot generate release notes for a snapshot, i.e what has not been released yet"
Is it possible to generate release notes for a snapshot, i.e. all of the work up to the point before a release.

gren release

🤖  - Generate release notes:
===================================
⠙ Getting the list of releases{ Error: 404 error making request GET https://XXXXX/releases: "Not Found"
    at new ResponseError (/usr/local/lib/node_modules/github-release-notes/node_modules/github-api/dist/

[2018-06-21 09:21] Claudenw commented on #174
This seems like a bug.  I should be able to generate release notes for the very first release.  Can this be done?

[2018-06-29 07:35] alexcanessa opened #177 "Doesn't quite work with Node 10.x.x"

[2018-07-02 19:58] kstolte commented on #116
@durera did you make any progress on this by chance?

[2018-07-08 19:54] alexcanessa commented on #158
This is actually still a bug as the `author` we're looking for doesn't belong to `commit`.

See: https://api.github.com/repos/github-tools/gren-tester/commits/2235967d392fb3822c4a9a9f908d18d80a541268

[2018-07-08 23:01] #158 closed

[2018-07-25 23:20] tobybot11 commented on #177
+1 .. with 10.7.0... i receive the following

[code]

[2018-08-07 14:45] VassilIordanov opened #179 "Unable to access behind proxy"
When I run `gren changelog -B` on a public repo, I do get the following:
[code]

At the same time, directly calling the api works:
[code]

[2018-08-15 16:07] sigiesec opened #180 "Error when running gren init"
When I run gren init, I get the following message:
[code]

However, this *is* a git repo folder, i.e. it has a .git subdirectory.

Unfortunately, there is no further information what might be wrong. Any suggestions?

[2018-08-16 09:11] alexcanessa commented on #180
Hello @sigiesec,

You should be running it in the `root` of the project (same folder where `.git` is) - a.k.a. where you can run `git` commands.

[2018-08-16 09:13] sigiesec commented on #180
That's what I did.

Interestingly, after I created the .grenrc.yml file manually, gren release worked. It just outputs a warning "WARNING: Looks like you don't have network connectivity!", but this cannot be true, since it correctly posted the release notes to GitHub.

[2018-08-16 09:52] alexcanessa commented on #180
Interesting 🤔

FYI the warning detects when you might have a problem with connectivity via checking your connection (hence it's a warning and not an error).

For more information, we're using [this package](https://www.npmjs.com/package/connectivity)

[2018-08-16 10:39] sigiesec commented on #180
Ok, connectivity does not seem to use the proxy settings (http_proxy, https_proxy, no_proxy environment variables) in the same way as git does.

[2018-08-22 21:20] martingerdin opened #181 "Gren release and changelog lag one tag behind"
Thank you for gren!

Now, if I do:
[code]

Then I would expect to see "Update README" in the release notes for v2, because "#1" was closed before the commit was tagged v2. It doesn't, however, instead it shows up in the v3 release.

Is this the expected behavior, and am I misunderstanding something? If so, what can I do to have "Update README" show up in the v2 release notes?

[2018-08-24 10:13] rchabin commented on #181
Same issue for me :+1:

[2018-08-29 11:08] riipandi opened #182 "Abbreviated Commit Hash"
Hi, can I print abbreviated commit hash in commit template? If yes, how?

Thanks.

[2018-09-04 09:17] alexcanessa commented on #182
Hello,

[GitHub commits API](https://developer.github.com/v3/repos/commits/#get-a-single-commit) only has a full SHA. But I believe the shorter version it's just a substring of it?

So, in your `.grenrc.js` file, you can have something like:

[code]

[2018-09-05 02:54] riipandi commented on #182
Ok, thank you

[2018-09-05 02:54] #182 closed

[2018-09-21 18:20] objectiveSee opened #183 "Unable to initialize a repository's release notes"
I would like to use release notes generated by `gren` for our Node.js server repository. Unfortunately, I am not able to configure `gren` properly. What I would like is to generate release notes (e.g. using `gren changlog`) manually when we deploy new code to our servers. We use `develop` and `master` branches, GitHub issues, and pull requests. We have some releases in GitHub as recent as 1 month

[2018-09-24 07:01] alexcanessa commented on #183
Hello @objectiveSee, I'll have a look a let you know 👍

[2018-09-25 12:53] alexcanessa opened #184 "Use flow"
Remove JSDoc and use Flow as type checker.

[2018-09-27 08:44] alexcanessa opened #185 "Create a `gren` GitHub app"
Run release notes directly from the UI would be neat.

Re: https://github.com/probot/probot

[2018-09-28 10:18] jackocnr opened #186 "Missing version numbers in generated changelog"
Hey thanks for the great tool!

So all I want to do is generate my changelog.md file from my [github release notes](https://github.com/jackocnr/intl-tel-input/releases). I installed github-release-notes, added my GREN_GITHUB_TOKEN, and ran `gren changelog --override` as I already have a changelog.md in my project.

Everything worked perfectly (it is correctly adding an entry for each of my github

[2018-09-28 10:31] alexcanessa commented on #186
🤔 Mmh. This is weird.

As I can see the release names are present in your repo, and that's the data that [gren's getting](https://github.com/github-tools/github-release-notes/blob/master/lib/src/Gren.js#L451).

Looks like, if I request the information for your latest release, the name is actually empty:

https://api.github.com/repos/jackocnr/intl-tel-input/releases/tags/v14.0.0
[code]

Could you t

[2018-09-28 10:36] jackocnr commented on #186
Thanks for the speedy reply :)

A ha! That'll be it - I had assumed it would display the version numbers, but it seems it's displaying the "name" value, which I guess comes from the "Release title" field when you're creating a new release in Github. Yeah so I have never used that title field before - that'll be the problem.

Yeah if that isn't too much trouble that would be exactly what I need. Th

[2018-09-28 10:44] jackocnr commented on #186
From a cursory glance, would it just be a case of updating this line: https://github.com/github-tools/github-release-notes/blob/master/lib/src/Gren.js#L451 to

`release: release.name || release.tag_name,`

Tho I'm not sure if this would affect any other functionality?

[2018-09-28 10:49] alexcanessa commented on #186
This would be it, you're welcome to contribute 🎉

[2018-09-28 11:03] #186 closed

[2018-09-28 17:29] rkeene opened #188 "Pull requests are not included when using "--data-source=milestones""
In github-releases-notes v0.16.0, when using --data-source=milestones with "gren changelog --generate", only the issues closed by that milestone are included.

Sample GitHub.com repository milestone:  https://github.com/nanocurrency/raiblocks/milestone/11?closed=1

Command: gren changelog --generate --username nanocurrency --repo raiblocks --tags V16.1   --changelog-filename ./CHANGELOG.md --overr

[2018-09-28 20:38] alexcanessa commented on #188
Hello, this was by design actually, as I never thought that you could add PRs to milestones.

The filtering happens here (`line: 828`):

https://github.com/github-tools/github-release-notes/blob/977b97f763ad4e93e9e0f72d197d4abc33a4fa09/lib/src/Gren.js#L815-L830

[2018-10-03 09:35] jackocnr commented on #186
Hey @alexcanessa, any chance of a release soon?

[2018-10-03 15:10] denisflorkin opened #189 "`npm audit` complains about a low risk dependency"
We have a project using gren, we're trying to add `npm audit` as a part of our CI/D processes to said project.

`npm audit` exit with non-zero (1) if gren is installed.
`github-release-notes > npm > cli-table2 > lodash`

Here's the output of running `npm audit` on our project.
![screenshot 2018-10-03 at 17 09 14](https://user-images.githubusercontent.com/10850995/46419851-1684ea80-c72f-11e8-91f7-4

[2018-10-12 10:05] jackocnr commented on #186
Hi @alexcanessa, I still really need this - any idea when it is likely to be released? Thank you :)

[2018-10-14 09:39] alexcanessa commented on #186
@jackocnr sorry, for personal reasons I wasn't able to release (or work on gren) during the past weeks.

Now I only need to get #190 in before releasing. I'm anticipating a release between today and tomorrow.

[2018-10-14 10:51] #189 closed

[2018-10-14 10:55] alexcanessa commented on #177
This should work with 0.17.0. @tobybot11 could you double check?

[2018-10-14 10:57] alexcanessa commented on #186
@jackocnr released. `github-release-notes@0.17.0` has the fix (and works with node 10 🎉)

[2018-10-14 14:23] alexcanessa opened #191 "Improve testing"
`jest` and screenshot testing + mock data

[2018-10-17 14:16] erickertz commented on #181
Thanks for Gren! Also experiencing this issue.

[2018-10-17 16:50] alexcanessa commented on #181
What version of `gren` are you using? Were you using it before? New issue?

[2018-10-17 17:10] erickertz commented on #181
version 0.17.0. this is the first time I've used gren. It always seems to skip the first commit in a release in the notes for some reason, which I think is what the OP is also saying. For instance:

1. Create notes for 1.0.0:
gren release --override --data-source=commits --tags 1.0.0

2. Create notes for 1.0.1:
gren release --override --data-source=commits --tags 1.0.1

OUTCOME: 1.0.1 will be miss

[2018-10-18 14:55] alexcanessa commented on #181
Ok I'll have a look, ta

[2018-11-05 19:33] sravan09 opened #192 "Closed issues under current tag are not included while generating release notes"
Not able to include issues closed under current tag in release notes. They get copied into next release notes.

[2018-11-06 15:30] alexcanessa commented on #192
Hey! Thanks for the feedback. Is this a duplication of #181?

[2018-11-06 15:33] sravan09 commented on #192
Yes. This looks similar

[2018-11-17 04:44] simkimsia opened #193 "How to use gren for private repo and django/react app?"
I have a private repo in Github which uses django for backend and react for frontend

I like to have my changelog exposed to my endusers as well.

If I expose my changelog to endusers AND I use gren, this will certainly force me and my team to write better commit messages.

I typically handwrite the changelog into html markup for the changelog to show up in the app. And typically it's just a long

[2018-11-19 11:20] alexcanessa commented on #193
Hello! 👋

First thing: you don't necessarily need `commits` to generate release notes. You can also use `issues` or `prs`. ([see more docs here](https://github-tools.github.io/github-release-notes/concept.html#feed-gren-))

The output is in markdown, so you'd need something to transpile it after (there are many `md` -> `html` packages, even runtime).

[2018-12-19 14:32] ranvijayj opened #194 "doesn't genereate new release"
I am trying to draft a new release using

[code]
The following tag is not found in the repository: 3.0.7. please provide existing tags.

[2018-12-19 15:18] ranvijayj opened #195 "Want release notes for the release created"
I created release from master branch tagged it and ran gren release.
it added commits/prs from develop brnach too. Which were not even in master yet

[2018-12-27 09:35] Hatko opened #196 "Not all issues from a milestone are added to the CHANGELOG file"
We have 22 issues in the current milestone. When I run `gren changelog --override` it includes only the first 20 of them. Is there some logic behind this? What can be a reason for it?

[2018-12-27 14:18] Hatko opened #197 "`template` doesn't impact output for some fields"
We have a file `.grenrc.js` generated from `gren int`

After adding a template object it looks like this:

[code]

When I change values for `issue`, `label` or `group`, the `CHANGELOG.md` file is still generated from the original template. Changing values for `release` and `changelogTitle` do impact though.

[2018-12-30 22:35] nvisionative opened #198 "Correct misspelled words and improve formatting"
To improve understanding, a few spelling and grammar issues need to be resolved.  Additional formatting needs to be implemented to reinforce recommendations.

[2019-01-03 19:00] franzwilhelm commented on #116
@durera any updates on this?

[2019-01-08 16:03] #198 closed

[2019-01-09 16:21] alexcanessa commented on #196
@Hatko I can check if there is some sort of pagination in the APIs that I'm missing.

[2019-01-10 08:45] Hatko commented on #196
@alexcanessa I tried to find some logic behind the choosing added / non-added issues, but they just seem to be the last two from the list

[2019-01-10 08:50] Hatko commented on #197
@alexcanessa

`yarn gren generate changelog`

while having the script in `package.json`

`"gren": "node ./node_modules/github-release-notes/bin/gren.js"`

[2019-01-14 09:17] alexcanessa commented on #197
@Hatko could you try to run it with `--debug` ?

[2019-01-14 12:18] Hatko commented on #197
@alexcanessa the output is:

[code]

[2019-02-06 09:08] hbenbenishti commented on #192
Hey,
Same issue for us.
Is there any estimation when it will be handled please?
From our point of view it looks like it is a critical issue for GREN, since it does not fulfil its main goal with this problem.

[2019-02-06 12:21] chenfli commented on #192
The fix is quite simple, https://github.com/github-tools/github-release-notes/blob/0a63afc2f2b54a76bdf99f586bb3c01d46435198/lib/src/Gren.js#L908 should be removed. That is the problem

[2019-02-06 18:24] Hatko commented on #197
@alexcanessa It seems to not grab the other releases. For example, if I specify an array of tags for `Tags`, it will grab only the first one still. It shows `Releases found: 1`

[2019-02-06 18:33] Hatko commented on #197
With `--tags=all` it still grabs only one existing milestone. Tags contain the names of the milestone

[2019-02-12 21:30] fthomas opened #201 "Pass author login and html_url into issue template method"
I'd like to add author login and html_url when generating a changelog from issues or PRs. Here is what I'd like to be able to write in my `.grenrc.js`:
[code]
As far as I understand there are no `user_login` and `user_url` (or similar) variables I could use.

[2019-02-18 10:44] #201 closed

[2019-02-22 15:25] aldo-sorbara commented on #192
Hi, same issue here, is there any estimation when it will be handled? Thanks

[2019-03-01 13:28] idlem1nd commented on #181
Also seeing this in version `0.17.0`.

[2019-03-05 13:33] tobybot11 commented on #177
Thanks! Works on v11.10.0 currently.

[2019-03-07 09:54] shaikatz commented on #128
Hi any news about that?
I've just experienced it in [Kamus](https://github.com/Soluto/kamus)

[2019-03-19 18:54] 130s commented on #173
Was this issue closed because it is invalid? If no I think it's worth keeping it open.

I just saw the similar/same output when I ran `gren` for my Gitlab repo. Tried different arguments but no good.

[code]

[2019-03-28 18:36] uzadude opened #203 "Error generating pull requests changelog on Github enterprise"
when running: `gren changelog --generate --tags 5.0.0..4.2.0 --override --data-source prs --debug`

we're getting:
[code]

[2019-04-12 08:25] kukoc opened #205 "Personal Token UnAuthorized"
Hi,

My issue is pretty basic..  My github token is apparently not valid, however it's configured with all the github permissions.

When I'm trying:

 gren release --token=[your token]

I'm getting:

 - Generate release notes:
===================================
- Getting the list of releases{ Error: 401 error making request GET https://api.github.com/repos/DIaaS/email-test/releases: "Unauthorized

[2019-04-14 10:24] masim05 opened #206 "Provide commit sha to start with"
Thanks for such a useful tool.

Current high level logic of `gren.js release --data-source=commits` is:
 - determine a date range
 - pick commits in master branch within this range
 - create release notes using the commits

As a result, the following workflow is problematic (release notes are empty):
 - create a new release branch from master
 - merge to the release branch new changes
 - tag the r

[2019-04-22 18:11] Tybot204 commented on #181
Also seeing this issue, but with `prs` given as the data source. If a merged PR commit is tagged, it will be missing from that tags release notes.

[2019-04-22 18:29] Tybot204 commented on #128
+1 to using `closed_at` as the date check. My current theory is that merging triggers a PR to also be closed after, and that they are not the same state transition in GitHub. I've noticed on merging some PRs that the merge commit is made immediately, but the page hangs and doesn't actually close out the PR for a moment.

[2019-04-28 07:51] oxygen172 commented on #205
I hit the same issue above. Not sure how to fix it.

[2019-04-28 07:59] oxygen172 commented on #205
How to deal with the enterprise GitHub?

[2019-04-28 08:30] oxygen172 commented on #205
If it's private repo then you need to add -a parameter

e..g

gren release -a https://api.github.google.com -t [your token]

[2019-05-02 13:36] guillermo-menjivar opened #208 "exception when attempting to run a release on GHE"
Getting the following fatal error when running `gren release -a https://api.my.server.local --token=12344`

[code]

[2019-05-02 13:37] videte47 commented on #208
am I doing something wrong here ?

[2019-05-20 06:56] amit-mhetre opened #209 "Limiting the issue list to 30 while generating release notes"
When I try to generate release notes which has issues more than 30, it ignores the the issues after 30th issue. Below is the logs I am getting while generating relase notes.

[code]

May I know, how we can change the count of issues to be consider while generating notes.

[2019-05-30 08:07] Hatko opened #210 "Security vulnerability"
I've received this message from GH:

<img width="538" alt="Screenshot 2019-05-30 at 10 06 02" src="https://user-images.githubusercontent.com/6848723/58618322-a0875200-82c2-11e9-8bc6-9fbe9f507c33.png">

In the `github-release-notes`, `github-api 3.0.0` is used, which uses `axios "^0.15.2"`, which causes this warning to appear

[2019-06-17 19:39] GregTheGreek opened #212 "Upload build artefacts"
Adding the ability to release build artefacts would be very useful!

[2019-06-20 16:47] mlrv opened #213 "Include all PR merged since last tag when data source is commits"
Hi, I'm trying to achieve the following:

- master branch is on tag `v0.0.x`
- branch `feat-branch-1` has the following commits
  - `feat-1-commit-1`
  - `feat-2-commit-2`
- branch `feat-branch-2` has the following commits
  - `feat-2-commit-1`
  - `feat-2-commit-2`
- first, I open a PR to merge `feat-branch-1` and I squash the two commits, so that only one new commit is added to the master branch

[2019-06-21 17:31] mlrv commented on #213
I have done some further investigation and it actually seems that the release notes include all commits apart from the very first one that came after the previous release.

I.e.

- previous release @ commit `#7`
- commit `#8`
- commit `#9`
- commit `#10`

If I release now, the notes will only include `#9` and `#10`

[2019-06-30 18:00] SamuelHassine commented on #209
Hello,

I have the same problem and it seems to be linked to the Github rate limit, anyone has a solution?

Thanks!

[2019-07-01 04:51] omerlh commented on #209
I think this is the root issue: github-tools/github#569. I was managed to bypass this issue by requesting more items. Change [this line](https://github.com/github-tools/github-release-notes/blob/ab8305fa19ba8f9b63b4a99cf6b12340abd2426a/lib/src/Gren.js#L724) to add the maximum items per page (as documented [here](https://developer.github.com/v3/guides/traversing-with-pagination/#changing-the-number

[2019-07-01 08:01] amit-mhetre commented on #209
Thanks @omerlh
This solution worked for me. But I think it doesn't fetch the issues more than 100 even though we set the number which is greater than 100. Do you have any idea about the this?
Once again thanks!

[2019-07-01 08:01] omerlh commented on #209
Yep, 100 is the limit :(

[2019-07-01 08:03] amit-mhetre commented on #209
Ok  +1

[2019-07-02 04:30] svanzoest commented on #213
I think this might be related to #181

[2019-07-02 04:52] jonnylangefeld commented on #196
I actually think there is a pagination. I can't get a long list of issues between to tags in either the changelog file or the release.

[2019-07-02 15:35] sid88in commented on #205
I get 406 error making request

[2019-07-02 15:53] mlrv commented on #213
Yup, seems to be the same kind of problem, I'll close this as a duplicate. Thanks @svanzoest

[2019-07-02 15:53] #213 closed

[2019-07-04 21:53] zhilin-zheng commented on #205
same problem. The reason, i think, is "repos" is always unnecessarily attached into the url.

[2019-08-02 08:24] guoxunbo opened #214 "My repository not have tags. Only some braches in here? What should I do to gren my release note?"
Hi. Thank grens.
As the title say. The repository only have some branches and milestones.  what should i do to generator my release notes. version is 0.17.
Thanks a lot.

[2019-08-02 08:37] guoxunbo commented on #214
Please look this image. There is no imges.  What should i to add?
![image](https://user-images.githubusercontent.com/14329149/62356420-9f350880-b543-11e9-9930-28d99fd06a8c.png)

[2019-08-14 00:37] Tybot204 commented on #128
@alexcanessa I'm doing a bit of research into the PR attributes returned from GitHub. It seems to me we want to use `closed_at` for sure, but need to continue to filter out branches that don't have a `merged_at` (as they may have been closed without merging).

I found where the "merged vs. just closed" check is happening in Gren, but I don't think I'm following along on how the times are checked.

[2019-09-07 06:29] tlinkowski opened #215 "Close a milestone after a release"
First of all, thanks for a great app!

I'd like to propose the following new feature:
- when we have `dataSource` set to `milestones`, gren could close the milestone after a release.

Right now, I have to do it manually, and it's easy to forget.

In order not to break backwards compatibility, it could be an opt-in behavior through a gren config file, e.g.
[code]

[2019-09-19 06:56] levy9527 opened #217 "[feature request] sharing config or online config"
Thanks gren, we use it a lot and it saves our time.

We have many repos(https://github.com/femessage) using gren with the same `.grenrc.js`.

Now the problem is when we want a new config, we should update all the repos' `.grenrc.js` , that's frustrating and faulty.

So it's there any plan to support sharing config like https://prettier.io/docs/en/configuration.html#sharing-configurations or gettin

[2019-09-21 03:50] yansheng836 opened #218 "The changelog is not message"
If I didn't use `gren release` to publish release, could I use `gren changelog` to generate `CHANGELOG.md`?

[2019-09-23 11:07] mlrv commented on #181
Any update on this?

[2019-10-01 18:34] GregTheGreek commented on #118
any news on this/?

[2019-10-09 08:34] JuergenSimon opened #219 "Generating changelog from commits is erratic"
Consider the following commit history:

[code]

Given the following call:

[code]

I would expect the changelog to look something like:

[code]

Instead I am getting:

[code]

There are many commit messages missing. Seems to me every commit message at a tagged position is missing and then some.

[2019-10-09 08:46] JuergenSimon commented on #181
I have the same problem.

[2019-10-09 08:47] JuergenSimon commented on #181
Actually it's a little worse than simply lagging for me. The commits that coincide with the tag simply do not enter the changelog.

[2019-10-21 08:25] BasvanH opened #221 "ignoreIssuesWith in .grenrc not working"
Hello,

I have the following config:
[code]

No matter what datasource I set, the ```ignoreIssuesWith``` is not used. Issues with this label are being added to releases and changelog.

Is this not how it supposed to work?

Kind regards,
Bastiaan

[2019-10-21 11:09] JuergenSimon opened #222 "Wrong return code"
When the token for github is not set in the environment, I would expect the `gren` command to fail with error code 1 (not 0).

What currently happens is, that an error message is emitted (You must provide the TOKEN) but the return code is still 0, meaning in a bash script for example I can not test properly whether the `gren` step in my release procedure worked or not.

[2019-11-06 19:51] ipolevoy opened #223 "Issue does not show on release notes after it was reopened then closed"
Here is the  chain of events:

1. Generated release notes: https://github.com/javalite/javalite/releases/tag/javalite-2.3.1-j8 with commmand:

`gren release -t javalite-2.3.1-j8 activejdbc-root-2.3 --override`

The issue https://github.com/javalite/javalite/issues/913 is on the release notes.

2. Reopened https://github.com/javalite/javalite/issues/913 to not forget to document a new feature.

3.

[2019-11-07 05:29] valadas opened #224 "Add a way to access pull request submitter name in release notes"
We have a workflow where we want do generate the release notes only from pull requests and mention the pull request author. I have found no way to do this yet...

[2019-11-12 15:17] mattnworb opened #225 "configure multiple tokens?"
Hi, is it possible to configure multiple tokens, i.e. one for github.com and another for GHE?

From what I can tell, it looks like the token can only be configured in an environment variable named `GREN_GITHUB_TOKEN` (or `--token`). For people working on repos that are a mixture of github.com repos and private GHE repos, it'd be great if there was a way to have two tokens configured.

[2019-12-01 15:44] yansheng836 commented on #218
I find it still works, probably because I used it the wrong way.

[2019-12-01 15:44] #218 closed

[2019-12-03 00:53] ipolevoy commented on #223
anyone?

[2019-12-04 23:45] blairg23 commented on #219
I am also having this problem, has this been triaged yet?

[2019-12-05 09:19] liangweihua-rock opened #227 "Can I group the issues by specific label instead of the first label？"
I got following error when group by specific label, can I do it by any option?
gren's version is 0.17.0
[code]

[2019-12-06 18:09] blairg23 opened #228 "This product is completely unusable in its current state"
This issue has not been addressed and causes the product to create an incorrect solution.

https://github.com/github-tools/github-release-notes/issues/219

Currently if I release a version at commit `abcd1234` that contains the following commits:

[code]

The resulting "release notes" will contain `efgh1234` through `qrst1234`, but will be missing `abcd1234`. Similarly, v1 is missing `qrst1234`...

[2019-12-07 08:28] yansheng836 commented on #214
Release is depends on tag,you should add tags in you project.

[2019-12-07 08:50] yansheng836 opened #229 "The number of commits will be reduced by one when "--data-source=commits""
## Problem
When I use the "--data-source=commits" to grenerte the releases , the commits information will be incorrect. If there is only one commit between the versions, then the commits information will be displayed. If there are two or more submissions, one less commits will be displayed, as follows:

### my command :

[code]

### git log:
![file](http://bucket836.oss-cn-shenzhen.aliyuncs.com/im

[2019-12-11 21:26] blairg23 opened #231 "Is this project dead?"
Based on #228, this product is currently unusable and I'm curious if anyone else just hasn't noticed or isn't on the version that is broken... I haven't seen a commit since October and the one before that was February... is anyone even looking at these issues?

[2019-12-12 10:07] alexcanessa commented on #231
Hello @blairg23

I've been a bit busy recently but I'm actually looking at all the issues now, mapping them and going into a bit of a refactor 😄

[2019-12-12 10:23] #217 closed

[2019-12-12 10:23] alexcanessa commented on #217
Should be done by #230

[2019-12-12 10:26] alexcanessa commented on #181
This should be closed by #220

[2019-12-12 10:27] alexcanessa commented on #214
As @yansheng836 said, there isn't much we can do.

[2019-12-12 10:27] #214 closed

[2019-12-12 10:28] alexcanessa commented on #228
I'm doing some checks now to see if it's only the `dataSource=commits` that is broken or the whole thing and I'll reflect the status on the README file.

[2019-12-12 10:29] alexcanessa commented on #221
@BasvanH what command are you running?

[2019-12-12 10:31] JuergenSimon commented on #231
@blairg23 you could always contribute :)

[2019-12-12 10:34] alexcanessa commented on #223
Hello @ipolevoy ,

`gren` looks at when the `issue` has been closed and if it's in between two tag dates. This means that to include it you should tag again (in threory)

[2019-12-12 10:36] alexcanessa commented on #225
@mattnworb interesting. What kind of API did you have in mind?

[2019-12-12 10:39] alexcanessa commented on #227
Hello @liangweihua-rock `groupBy` is either `label` or an Object (which means you need the config file) see https://github-tools.github.io/github-release-notes/options.html#group-by-1

[2019-12-12 10:48] BasvanH commented on #221
@alexcanessa, thats ```npm run dev```

[2019-12-12 14:58] alexcanessa commented on #162
This should be fixed by 2460facf950c3351a6cd7f642ffac10f4b965388

[2019-12-12 14:58] #162 closed

[2019-12-12 14:58] alexcanessa commented on #229
Fixed by 2460facf950c3351a6cd7f642ffac10f4b965388

[2019-12-12 14:58] #229 closed

[2019-12-12 15:02] alexcanessa commented on #219
This should be fixed by 2460facf950c3351a6cd7f642ffac10f4b965388

[2019-12-12 15:02] #219 closed

[2019-12-12 15:06] alexcanessa commented on #231
I'm closing this issue as isn't really helping tracking anything.

[2019-12-12 15:06] #231 closed

[2019-12-12 15:07] alexcanessa commented on #228
Commits should be now fixed. I'm releasing `0.17.1` and that should do.

Anyway, it's a duplicate of #229

[2019-12-12 15:07] #228 closed

[2019-12-12 15:37] #223 closed

[2019-12-12 16:18] alexcanessa commented on #134
Fixed in [0.17.1](https://github.com/github-tools/github-release-notes/releases/tag/0.17.1)

[2019-12-12 16:18] #134 closed

[2019-12-12 17:28] #181 closed

[2019-12-13 20:59] mattnworb commented on #225
@alexcanessa good question. On second thought, I'm not really sure that there would be any easy way for gren to know which token or which environment variable I want to use 😀

[2019-12-17 11:32] alexcanessa commented on #225
@mattnworb yeh it's a bit difficult, I'll close it for now, until we have an idea for a nice API

[2019-12-17 11:32] #225 closed

[2019-12-18 02:07] liangweihua-rock commented on #227
Thanks a lot for your reply, I've tried the config file in the format of  https://github-tools.github.io/github-release-notes/options.html#group-by-1, seems the issues is grouped by Label1 OR label2, i.e I want to group the issue with label1 AND label2 in one group, but seems all the issues with lable1 OR label2 are grouped in. I'll try it further.

[2019-12-18 10:36] alexcanessa commented on #227
@liangweihua-rock oh I see what you mean.

We don't have any logic for that atm.
Have you thought of a possible API for it?

[2019-12-18 12:58] BasvanH commented on #221
Sorry, I'm no longer using your plugin.

[2019-12-18 12:58] #221 closed

[2019-12-19 00:44] liangweihua-rock commented on #227
Yes...I hope there would be an API to group the label1 AND label2, but I am not familar with javascript, I am in learning process.

[2019-12-20 01:17] rinaldym commented on #188
Hi @alexcanessa any plans to release an update for this?  I've tried messing with the filter but it seems to return the tags with the release notes even though it does successfully pull the pull requests.

[2019-12-23 10:40] alexcanessa commented on #227
@liangweihua-rock I think we could use Arrays for that.

Something like this would group under the group `Enhancements`, the issues that have `(enhancement AND new feature) OR internal`.

[code]

[2019-12-23 10:41] alexcanessa commented on #188
@rinaldym I should be able to make this feature over Christmas. But you're welcome to work on it if you want :)

[2020-01-07 08:06] dlsrb6342 opened #253 "gren init with token option"
When run `gren init --token=******`, it doesn't work well.
I got following error log.
[code]

Can't I use `gren init` with token option?

[2020-01-07 09:32] yansheng836 commented on #253
Maybe you are right, `gren init ` doesn't have this option. My try:
[code]

For another way,just like the error log, you should add the token to ~/.bash_profile (or ~/.zshrc).
see <https://github.com/github-tools/github-release-notes#setup>.

If you've already done it.`gren init` is ok.

[2020-01-08 06:30] dlsrb6342 commented on #253
Yes I know that. If I add environment variable(`GREN_GITHUB_TOKEN`), it works well.
Actually, I want to use all `gren` command with `--token=***` option.

[2020-01-08 09:37] dlsrb6342 commented on #188
`--data-source  milestones-with-prs` would be nice.

[2020-01-08 09:44] dlsrb6342 opened #254 "Option that make release notes include assignee"
Is there any option that make release notes include assignee?
If not, What do you think adding that option?

Thank you for really nice module.

[2020-01-08 15:24] alexcanessa commented on #253
The `gren init` is just to create the configuration file, which you can use together with the `--token` option.

You should run `gren release|changelog --token` instead?

[2020-01-09 08:22] dlsrb6342 commented on #253
Then, if I don't set `GREN_GITHUB_TOKEN` variable, Can't I use `gren init`?

[2020-01-09 10:46] donmahallem opened #255 "Gren fails when used on first release"
Hi.

I ran into an issue when using gren for the very first release.
It will crash due to undefined being inside the selectedTags array.
https://github.com/github-tools/github-release-notes/blob/617cb77fe9a710556c367e459b9bf7088d9538a5/lib/src/Gren.js#L1132
This is due to releaseDates only containing one item in these lines:
https://github.com/github-tools/github-release-notes/blob/617cb77fe9a7105

[2020-01-09 16:22] alexcanessa commented on #253
You can:

[code]

And then run

[code]

[2020-01-09 16:23] alexcanessa commented on #255
Good catch, thanks

[2020-01-10 13:36] Cmiroslaf opened #258 "Release notes using releases instead of milestones/PRs"
Hi GReN team,

I have a question/proposition for enhancement:

Will there be any way to create release notes from release data-source and issues that are tagged by certain release?

I mean I couldn't find any tool on the internet that would do that. And note that a lot of projects are releasing when release period ends and it might be even in the middle of milestone or multiple times per milestone

[2020-01-13 10:44] alexcanessa commented on #258
Hello @Cmiroslaf,

I'm not sure if I understand. Would populate release notes using issues with a specific label work?

[2020-01-15 09:45] dlsrb6342 commented on #253
![image](https://user-images.githubusercontent.com/19386038/72423134-17784900-37c7-11ea-9052-0ad02fdf4694.png)
Without `GREN_GITHUB_TOKEN` environment variable, I got error.

[2020-01-15 10:17] alexcanessa commented on #253
Oh! Weird. Bug then 😅

[2020-01-15 10:21] dlsrb6342 commented on #253
Yes.
And also, I think if we can set token value in config file, it would be better to use.

[2020-01-15 11:08] alexcanessa commented on #253
The `token` shouldn't be saved in the `config` file as could be committed and not secure.

[2020-01-30 11:26] aelbozie opened #259 "TYPO"
typo in README.md

[2020-01-30 11:33] alexcanessa commented on #259
Could you be more specific please? 😂

[2020-01-30 11:42] aelbozie commented on #259
Extremely minor; wondeful => wonderful, twice.

[2020-01-30 12:25] #259 closed

[2020-01-31 04:07] harvash commented on #208
Same error, using private github:
gren release --tags=all --username=user --repo=https://github.xxxx.com/user/JnksAnsibleSlave.git

🤖  - Generate release notes:
===================================
⠋ Getting the list of releasesTypeError: Cannot read property 'status' of undefined
    at handler (/usr/local/lib/node_modules/github-release-notes/node_modules/github-api/dist/components/Requestable.js

[2020-01-31 10:06] alexcanessa commented on #208
@harvash if you use private repo, remember to use the [`api-url`](https://github-tools.github.io/github-release-notes/options.html#api-url) option.

Said that, looks like @guillermo-menjivar is having this bug even when passing the `-a` option.

The weird thing is that it's failing on the `Requestable`, which means looks like isn't able to connect at all.

[2020-01-31 10:08] alexcanessa commented on #208
However, the usage for the `-a` should be something like:

[code]

(Notice the `/api/v3`)

[2020-02-02 21:56] harvash commented on #208
🤖  - Generate release notes:
===================================
✔ Releases found: 310325
⠙ Getting tagsTypeError: tags.filter is not a function
    at Gren._callee6$ (/usr/local/lib/node_modules/github-release-notes/dist/Gren.js:679:53)
    at tryCatch (/usr/local/lib/node_modules/github-release-notes/node_modules/regenerator-runtime/runtime.js:62:40)
    at Generator.invoke [as _invoke] (/usr/lo

[2020-02-03 09:37] alexcanessa commented on #208
@harvash Ok, interesting.
Are your tags on origin too?

[2020-02-03 17:50] harvash commented on #208
![image](https://user-images.githubusercontent.com/15692862/73677203-c223af00-4683-11ea-906c-77eb462bc4c7.png)

[2020-02-03 17:53] harvash commented on #208
Maybe a better indicator?

potb/ansible> git ls-remote --tags origin
8eb79e29d289c5a58516fc6658715396bf7207da	refs/tags/v0.9.2
5b676dc324831f5c8afdcd25a3fefbd2876ab80b	refs/tags/v0.9.2-alpha
685c973695e73f0ddf14d12b263cec056facee79	refs/tags/v0.9.2-alpha^{}
c42161449a6737607af27de3c795372c50553b13	refs/tags/v0.9.3-beta

[2020-02-11 17:30] harvash commented on #208
Got it working!
gren changelog --api-url=https://github.companyweb.com/api/v3 --tags=all

[2020-02-11 17:36] harvash commented on #147
Had to play around a little, but got this working with following template.  There were a few pieces of @phun-ky  code that needed tweaked

[code]

[2020-02-11 17:38] alexcanessa commented on #208
👍 great

[2020-02-11 17:38] #208 closed

[2020-02-12 14:14] grantmcconnaughey opened #262 "Stuck on "Getting tags""
I have a fairly large repo with 41,000 commits, 2,400 tags, and 15,000 total PRs and issues. I ran `gren` for 7 hours overnight and it never moved past the "Getting tags" state.

![image](https://user-images.githubusercontent.com/4023140/74342504-325ebe80-4d6f-11ea-9d5a-d0e385fa88ce.png)

This is my `.grenrc.json` file:

[code]

I added `"limit": 1` to try to fix this issue and that didn't seem to

[2020-02-12 14:42] alexcanessa commented on #262
Hello. That's a lot of tags lol.

I think `limit: 1` would only make it worse because it would make 2,400 calls (with pages of 1 tag each). So in your case, it'd be better to have the highest limit possible (which I can't remember what is).

I guess the quickest thing to do is to add more information about the tags that it's getting like `n of total`.

Then we need to work on the performance.

[2020-02-12 14:52] grantmcconnaughey commented on #262
Hey Alex! Thanks for the quick reply.

The docs state that the `limit` argument does this:

So I was thinking it would only produce release notes for the last 1 tag, but not change the page size. Does `limit` also affect the tag page size?

Showing `n of total` would be great!

[2020-02-12 14:56] grantmcconnaughey commented on #262
I changed `limit` to 100 (the GitHub page size), but it seems to have maxed out at 30. That appears to be related to this issue: https://github.com/github-tools/github-release-notes/issues/209

[2020-02-12 15:49] grantmcconnaughey commented on #262
Looks like the limit in the codebase is 99, so when I try to use a limit of 100 it reverts to 30. Using a limit of 99 works.

I'll try that and let you know if it still times out.

[2020-02-12 15:53] alexcanessa commented on #262
Ok thanks.

I still think we should add some more information, at least to understand if it's actually stack, or it's working.

[2020-02-12 16:04] grantmcconnaughey commented on #262
I added paging and confirmed that it is pulling all tag pages, but on the last page it fails then gets stuck spinning and showing "Getting tags."

Before getting stuck the script spits out this error:

[code]

[2020-02-12 16:14] grantmcconnaughey commented on #262
I've confirmed that that commit does exist.

[2020-03-09 15:54] amenon opened #265 "Draft release notes cannot be deleted"
Here is the use-case I am trying to solve:

I'd like to tag my repo with the tag `latest` and draft a release with that tag every time PRs are merged into `master`. When that code is actually deployed to production, I create a tag using the git sha as the tag name and create a new release:

[code]

This creates a new release with the newly created tag. However, it also leaves a draft release for t

[2020-03-17 13:29] v1v commented on #262
I've just seen this issue, I haven't had this issue until the last couple of weeks, the process gets stalled in the `⠴ Getting the list of releases` it's not related to the tags, but the similar experience of a stalled execution.

Not sure how to debug this further, the initial scripts were based on:
[code]

Any ideas on how I can debug it? I did try with -B but it was not helpful

Thanks

[2020-03-19 19:50] julesrenaud commented on #171
I have the same issue. Not a huge deal but it kind of defeats the purpose of a CHANGELOG file not to include it in the actual release, which means the release notes won't be physically present everywhere the release is actually deployed.

[2020-03-20 14:43] 0x7fs commented on #262
I'm seeing a similar issue here, but in my case after hanging for a while on "Getting tags," I eventually get the error:

[2020-03-23 17:37] dnedrow opened #267 "NPM warning on core-js 2.6.11"
When installing `github-release-notes`, npm generates the following warning:
[code]
So it appears that something needs updated to core-js 3 or better. I'm not sure if it is `github-release-notes` itself, or a dependency.

I'll add more once I've had a chance to probe further.

[2020-03-25 20:17] alexcanessa commented on #267
Thanks for spotting it

[2020-03-25 20:18] alexcanessa commented on #262
🤔 this bug is so weird.

[2020-03-25 20:24] alexcanessa commented on #171
You can use `gren changelog --generate` to create the CHANGELOG independently and then you can release it?

Does that work?

[2020-03-26 09:47] thomasmichaelwallace commented on #262
And another datapoint:

Having just moved to GitHub, we're looking to tidy up our Releases. We have 239 tags/releases.

Running `yarn gren release --data-source=commits` results in an indefinite (>10 minutes) hang, which I guess is _maybe_ fair enough; I wouldn't expect "bulk import" to be something you've focused on.

But narrowing it down: `yarn gren release -B --data-source=commits --tags=v5.73

[2020-04-22 15:54] brettcurtis commented on #255
When can we expect this to be released ? I'm hoping to use this in some of our pipelines and having same issue.

[2020-04-24 12:30] alexcanessa commented on #255
@brettcurtis the release that includes this should be rolled out on Monday. I'll keep you posted on this issue.

[2020-04-27 14:31] alexcanessa commented on #255
@brettcurtis release done https://github.com/github-tools/github-release-notes/releases/tag/0.17.2

Please let me know if it's all fixed :)

[2020-04-27 16:00] brettcurtis commented on #255
Hmm, still failing - it's highly possible I'm doing something wrong:

[code]

I can get it to run when I add the tag:

[code]

[2020-04-27 16:44] donmahallem commented on #255
I just did a quick test with a new clean repo and 0.17.2.

It does appear that the fix isn't included in this release. If I look into the distributed source it doesn't appear to be there.

![grenissue](https://user-images.githubusercontent.com/4698322/80397824-0905f700-88b7-11ea-9bc0-c1df955ce208.jpg)

[2020-04-29 03:09] hiyangw commented on #128
+1  `closed_at`
I got same issue when I create a new release tag if I updated PR later. Then I am not able to see latest PR on list.
[code]

[2020-04-29 09:52] alexcanessa commented on #255
🤦 my bad.

Please check 0.17.3

[2020-04-29 09:56] alexcanessa commented on #128
@hiyangw this should be part of the newest release.

[2020-04-29 09:56] #128 closed

[2020-04-29 13:56] brettcurtis commented on #255
Looks good thanks!

[2020-04-29 17:05] #255 closed

[2020-05-06 09:45] TRomesh opened #269 "The CHANGELOG.md generation doesn't pull the issues from the milestone"
I'm trying to automate the Release note generation. Here is my `grenrc.js`  .

[code]
when i do a release it create a new release in my repo with commits but it doesn't fetch the issues, bugs or any other tags defined. I went through the documentation but i couldn't find on how to get that nice looking report like structure in release notes. I tried to generate the **CHANGELOG.MD** file using the

[2020-05-08 19:16] brettcurtis opened #270 "What am I not understanding..."
Please tell me why I'm not getting my second release and what from the docs am I missing??

[code]
✔ 1.0 has been successfully created!

Now I make some change in the repo, commit & push..

[code]

I would expect this to create the 1.1 release for me???

[2020-05-11 09:26] alexcanessa commented on #270
@brettcurtis your expectation is correct and it should get the 1.1 done. I think this is related to a "fix" that has been published recently as this has never been a problem (obviously as it's quite critical 😂).

I'll have a look into this.

[2020-05-11 09:28] alexcanessa commented on #269
Hello @TRomesh, just to clarify, in your project you have a Milestone called `Release v3.13` which contains the issues?

[2020-05-11 11:18] TRomesh commented on #269
Hi @alexcanessa yes i have a milestone called Release v3.13 which contains issues with labels bugs,enhancements etc

[2020-05-11 12:13] alexcanessa commented on #269
Ok, this might be related to a recent "fix" which seems to have broken things here and there. I'll keep you posted

[2020-05-11 13:53] brettcurtis commented on #270
hahah ok no problem I thought i was going crazy lol

[2020-05-15 22:24] jenlampton commented on #173
I'm seeing the same errors on a GitHub repo. Was anyone able to determine the cause? Have a solution to share?

[2020-05-19 07:53] LumpBloom7 opened #271 "Tags seem to be sorted incorrectly"
When using `-tags=2020.519.0..2020.508.1`, gren will swap the positions for no apparent reason, needing a manual fix of the resulting changelogs

[2020-05-19 08:18] LumpBloom7 commented on #271
my bad, i just misunderstood how it works

[2020-05-19 08:18] #271 closed

[2020-05-19 22:37] swaylock commented on #254
casting another vote for this feature. I had a look to see if I might be able to add this feature myself, however the code in this awesome utility is way above my pay grade! Thank you

[2020-06-03 17:57] tonglil opened #272 "How to "groupBy" PRs that don't have the labels at the end?"
I don't want to specify every label, and some PRs don't need to have labels but should still be included in the release.

There doesn't seem to be a way to do that currently.

[2020-06-03 21:06] alexcanessa commented on #272
You're right! I forgot to document it 😅

There are two things that you can do:

1. Using the option `groupBy` with value `"label"`. That will group all the PRs with the same label under the same title, and you can add the option `noLabel` (default `"closed"`) for the ones that don't have a label. e.g.
[code]
2. Using the option `groupBy` with value `{ [groupName: string]: Array<string> }`. To grou

[2020-06-06 17:46] samkatakouzinos opened #273 "Request: Generate GroupBy Object Array items in order as listed"
REQUEST: I would like Object Array items generated the order they are listed.

I use Pull Requests to create releases and changelogs.

I understand that currently;
- groupBy Objects are generated in the order they are listed.
- groupBy Object Arrays are generated alphabetically.

Below is my configuration. For groupBy "Database" Object, I'd like "vehicle" items then "maintain" items generated in t

[2020-06-18 13:44] JRagone commented on #270
Any updates on this? I'm running into the same issue through the same steps as Brett, and my sort-of workaround was to use `gren release --tags=<tag name>`. For some reason though, that creates a new release with all the data sources that have ever been pushed to the branch. I might just be misunderstanding the commands, but is there any documented workaround for Brett's issue?

[2020-07-01 03:47] brettcurtis commented on #270
Thanks @JRagone - I hit this issue again and your workaround (gren release --tags=<tag name> --override) is doing what I need it to until the bug is addressed.

[2020-07-09 23:40] davehensley commented on #270
I just ran into this as well. Both issues are caused by the fact that a tag has a null date until/unless it is associated with a published release, but gren sorts the tags by date in reverse order, putting the null(s) at the bottom of the list.

So let's say you just created a tag called `1.2` and now you want to create a release for it. The list of sorted-by-date tags now looks like this (for cla

[2020-07-10 08:08] nekitk commented on #270
another way to solve it is to use the last working version. we are using 0.17.1 for now via npx: `npx github-release-notes@0.17.1 changelog --generate ...`

[2020-07-28 17:00] justynspooner opened #276 "Question: How do I generate release notes for a tag that doesn't exist?"
My last tag is `2.0.0`.

I have committed a bunch of work since `2.0.0`.

I haven't tagged `3.0.0` yet because we are still fixing minor bugs but I still want to generate a preliminary set of release notes.

Is this possible?

[2020-07-29 08:44] papanito opened #277 "Changelog date is always 01/01/1970"
When I generate the changelog the date is always `01/01/1970`

Version: `0.17.3`

[2020-07-29 09:07] papanito opened #278 "Running command with wrong credentials goes into an endless loop"
I ran the following command and accidentally forgotten the `$` in front of `GITHUB_ACTION`

[code]

This ended in an endless loop

[code]

Version: `0.17.3`

[2020-07-29 09:09] papanito opened #279 "All tags in each release instead only commits between tags"
I want to generate the changelog for all releases I have running this

[code]

[2020-08-07 20:40] robert-lacagnina commented on #279
Yeah I'll add to the I've seen similar behavior on `0.17.3`. I tried to generate release notes between two specific tags which only have about 3 commits and I got all my commits listed in the changelog. Downgrading to `0.17.2` resolved the issue and I saw only commits between tags as expected.

[2020-08-12 00:43] faloi commented on #277
Almost same here, but the date is `31/12/1969` in my case (the previous day). Seems like a date-parsing issue, because that date is the Unix epoch.

I'm trying to generate a CHANGELOG from scratch for a project that has a lot of tags. This is what I run on my terminal:

[code]

[2020-08-20 07:09] Divlo commented on #171
No, I think you didn't understand the issue. @alexcanessa
I want to create a new release, so I need to create a new tag first, then I can run `gren changelog` so it generates me the CHANGELOG.md **BUT** I want to commit this newly file generated in the tag/release I just created.

The workaround is a liitle bit annoying : Create the tag, generate the changelog, commit CHANGELO.md, remove the old t

[2020-09-08 11:24] snahelou commented on #279
Same problem for me. I rollback to `0.17.1`.

[2020-09-29 10:52] patrickallaert opened #282 "Incorrect logic in release note creation"
Hi,

I have used gren for both creating changelog file and generating release notes on the GH releases and have the same wrong results in both cases:

[code]

So instead of spreading the 95 PRs in their correct releases, they have all been linked to v1.0.0 (which should just have a few).

I guess this is because the tags/releases have not been created at the time of the commit they are referring t

[2020-10-21 10:28] saroshaga opened #283 "Generating release notes using Pull Request data source is not working"
When I use "prs" data source in my `.grenrc.js` file, it recognizing the correct number of closed Pull Requests but does not actually pull any data from them. I get this on my release notes: `No changelog for this release.`

The same when ran with "commits" data source, works fine and lists all the commits that occured for that tag.

Am I missing something ?

[2020-10-21 19:36] tildechris commented on #276
Or even from a local tag that hasn't been pushed yet (which doesn't appear to work).

It's nice to start with draft release-notes before the release has been finalized.

[2020-11-13 20:09] tillias opened #284 "groupBy not working in latest version"
Hello folks, many thanks for a very nice work!

I'm completely pissed of groupBy.

I have .grenrc.json (cause there are no examples available how to use yaml):

[code]

Whenever I call gen changelog --override I have exactly the same output:

[code]

There is no grouping at all (

Can you please advise what I'm doing wrong?

[2020-11-13 20:12] tillias opened #285 "documentation not clear how to use milestones"
Hello folks,

I have following milestone: "Milestone 1.0.0" or here: https://github.com/tillias/microservice-catalog/milestone/1

I have this tag: "v1.0.0": https://github.com/tillias/microservice-catalog/tree/v1.0.0

Is this correct usage in config file:     "milestoneMatch": "(Milestone {{tag_name}})"

Or should I use "milestoneMatch": "(Milestone v{{tag_name}})"

Or should I use "milestoneMatch

[2020-11-13 20:13] tillias commented on #284
Whenever I issue "gen release --override" I loose changelog completely:

*No changelog for this release.*

[2020-12-12 18:58] HarikrishnanBalagopal commented on #210
Closes this https://github.com/github-tools/github-release-notes/blob/master/package-lock.json#L492

[2020-12-13 05:25] HarikrishnanBalagopal opened #288 "bug: Index will go out of range when RANGE > 2"
# Bug
There is a index out of range bug here:
https://github.com/github-tools/github-release-notes/blob/8c5affc496f7b787fa0793ce3f7b812354d5679f/lib/src/Gren.js#L1096-L1101
The for loop index goes all the way to `length - 2` (2nd last element) and we are accessing indices `i` and `i + 1` in the loop.
This only works when `RANGE = 2`.

When `RANGE > 2` we will access indices `i` and `i + RANGE - 1`

[2020-12-15 22:16] swaylock commented on #284
I'm observing the same behavior. Only with me, it was last working in Oct. 2020. Not sure how to debug.

Same effect for both "release" and "changelog" commands:

[code]

test.md says: "*No changelog for this release.*"

[2020-12-17 11:56] #288 closed

[2020-12-20 11:57] xetra11 commented on #270
Is this fixed?

Still have the mentioned issue with 0.17.3

[2020-12-23 08:01] xetra11 commented on #139
Love to have that!

[2020-12-23 08:06] xetra11 opened #290 "How to remove [label] prefix in the groupBy'd issue release generation?"
I am having the following `gren.yml` configuration file:
[code]

It does group the labels properly but also prefix's the issue title in the changelog with the label:

---
#### Enhancements

- [**enhancement**] test feature number 2 [#12](https://github.com/xetra11/CK3-Workbench/issues/12)

#### Bug Fixes

- [**bug**] test bug number 2 [#13](https://github.com/xetra11/CK3-Workbench/issues/13)

---

[2020-12-23 08:39] xetra11 commented on #290
nevermind it did work but I forgot to create issues to test :1st_place_medal:

[2020-12-23 08:39] #290 closed

[2021-01-07 16:32] cjbarth commented on #147
Honestly, it seems that there should be at least a basic option to use either the locale date or ISO 8601 date, which is the standard.

[2021-01-09 18:24] cjbarth commented on #147
@phun-ky I'm interested in adding support for locales and date formatting using the [Intl.DateTimeFormat](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat/DateTimeFormat) library. Do you have guidance on how you'd like to see that added? It feels like it would be an option, but the way options are set up in this tool, it seems a more natural fit

[2021-01-13 04:43] bjhartin opened #293 "Cannot read property of 'status' undefined for enterprise github"
# Description

When running `changelog` or `release` against enterprise GitHub, it fails with "TypeError: Cannot read property 'status' of undefined" before any tasks run, i.e. before getting tags, etc.

I think this is similar to #120, but seems slightly different.

For example

[code]

I have verified that I can get r eleases via the api url:

[code]

I added some logging to Requestable.js and c

[2021-01-15 20:21] bjhartin commented on #293
Closing this as the underlying problem was a certificate issue and not related to this project.

[2021-01-15 20:21] #293 closed

[2021-01-20 23:33] bjhartin commented on #283
@saroshaga I see the same, but if I specify the tag range like `--tags=v1..v2` it works.

[2021-01-20 23:34] bjhartin commented on #282
:+1:

[2021-01-21 04:17] JBAhire opened #295 "gren works fine locally but when I am running it via github action it throws error"
I have tried running gren locally and it's working fine. I am also able to generate release-notes without any issue. But when I am trying to run it via GitHub action, I am getting below error:
[code]

FYI, I am running it like this:
[code]

Not really sure if it's because of some issue on GitHub action runner side or it's an issue with gren.

_GitHub actions Runner OS: Ubuntu-20.04
Local OS: Mac_

[2021-01-28 07:07] JBAhire commented on #295
moved to custom dockerised action which resolved this.

[2021-01-28 07:07] #295 closed

[2021-02-02 10:45] otherguy commented on #270
@xetra11 same issue here. Gren also doesn't find all tags, just 2 of them:

[code]

[2021-02-24 14:46] CruzanCaramele commented on #284
ok thank God its not me alone, i have the same issue with latest version as well

[2021-03-25 10:38] alexcanessa commented on #285
Hello @tillias so since your tag contains a v and your milestone doesn't it's a bit more complicated.

If you rename your milestone to "Milestone v1.0.0" then your match is `"Milestone {{tag_name}}"`

[2021-03-25 10:41] alexcanessa commented on #284
Hello, yeah that configuration seems correct.

No changelog for this release might mean that the milestone is not set correctly, however the grouping functionality seems to fail in that first comment 🤔

[2021-03-25 10:42] alexcanessa commented on #283
So it seems like the problem is that `gren` is struggling to find the correct tags. What's the output on the terminal when you run it @saroshaga ?

[2021-03-25 10:45] alexcanessa commented on #282
Good point. This is going to the Massive refactor milestone :)

[2021-03-25 10:50] #222 closed

[2021-03-25 10:50] #278 closed

[2021-03-27 14:11] Mazenak opened #298 "Usage with private bitbucket repository"
I have a private bitbucket repo and I was trying to figure out how I can use `auto` with my project but I got lost and didn't find the answer.
Anyways, my project is C++ project and we have already implemented CI/CD for it using GCP cloud build and docker. Can use any tool to generate release notes based on PRs between branches?

[2021-05-02 20:39] fizzyade opened #299 "dry run"
I'm commenting on an issue that was already raised 3 years ago in #167, the scope of mine explains more and requests further things.

I'm want to see the release notes that green generates before committing.  It is telling me that a release already exists, which is absolutely true, but I want to see what gren generates.

I can't do this because it's going to instantly overwrite the release notes f

[2021-05-20 21:44] cjbarth commented on #116
I'm running in to this problem, but a slightly different flavor. I have a branch for the 2.x series of releases and the current 3.x releases are on `master`. The changelog shows PRs that landed on on `master` as being part of the 2.x series, which means they aren't showing up on the 3.x series. Given this includes some breaking changes being attributed to the wrong release, this is a real problem.

[2021-05-20 22:14] cjbarth commented on #116
It seems that the correct solution would be to return the entire set of PRs (commits, whatever) that follows the same `base.ref`. This way you'll get all the commits in the same branch. Thoughts on this approach @alexcanessa ?

[2021-05-21 21:48] cjbarth commented on #116
Further testing and experimentation indicates that the only way to reliably do this would be to take the two tags in the [range](https://github.com/github-tools/github-release-notes/blob/ff0ddae3938db3cfcca5ef317d74eee034c32cc5/lib/src/Gren.js#L996) object and make another API call [/repos/{owner}/{repo}/compare/{basehead}](https://docs.github.com/en/rest/reference/repos#compare-two-commits). Then

[2021-05-21 21:52] RobAustin commented on #116
I think this project may do what you are looking for https://github.com/OpenHFT/Chronicle-Release-Notes

[2021-05-31 13:43] cjbarth commented on #116
Thank you for the suggestion, however, that requires Java, so isn't really an option. I've actually got everything working and am just waiting on some PRs to be approved and landed.

[2021-08-17 03:31] HatsuneMiku3939 opened #302 "Always fail with PR have no description"
[lib/src/Gren.js#L1024](https://github.com/github-tools/github-release-notes/blob/master/lib/src/Gren.js#L1024)
[code]

If PR have no description, this line always fail.

[code]

[2021-09-01 07:06] haiming3 opened #303 "override wrong release note"
when i run "gren release":

(base) root@ubuntu:~# gren release '--username=haiming3' '--repo=mercuy' '--data-source=prs' '--tags=build.20210901..build.20210825' '--token=<my token>' --override

🤖  - Generate release notes:
===================================
✔ Releases found: 3
✔ Tags found: build.20210825, build.20210901
✔ Pull Requests found: 86
✔ build.20210825 has been successfully updated!
Se

[2021-09-25 02:08] cjbarth commented on #282
@patrickallaert Do the changes I made in my fork fix your problem?

https://github.com/cjbarth/github-release-notes/releases/tag/0.18.0

[2021-09-25 02:09] cjbarth commented on #284
I had a similar set of problems. Perhaps the fixes I made in my fork will help you: https://github.com/cjbarth/github-release-notes/releases/tag/0.18.0

[2021-09-25 02:11] cjbarth commented on #279
@airshipbot, @v1v  I believe the changes I've made in my fork correct for this problem. Please let me know if they don't. https://github.com/cjbarth/github-release-notes/releases/tag/0.18.0

[2021-10-04 07:23] riprasad opened #304 "Gren converts pre-release into actual release"
Hi,

I perform a GitHub pre-release but gren when compiling release notes, it converts the GitHub pre-release into an actual release. I use `--overrride` flag

[2021-10-22 16:09] antoinewg opened #305 "Gren takes all PRs, not only the one between tags"
Hello,
First thanks a lot for the tool, it's amazing.
However I have a slight issue with it:

Here's my gren config file:

[code]

So basically I want to group the PRs between two tags for each release. The problem is that for each release it takes the information from all the PRs, and filter the one between the previous tag and the tag to release.

Let me explain with an example taken from this r

[2021-10-22 16:38] antoinewg commented on #305
Closing because when re-running the same command it works. It seems that it needs the releases to exists before being able to assigne a PR to a tag/release.

[2021-10-22 16:38] #305 closed, assigned to nobody

[2021-11-23 17:45] paul-uz opened #308 "`gren changelog` not finding all releases"
I have a private repo with 40+ releases, but running `gren changelog` only finds 30 releases.

All releases follow the same versioning format, x.y.z

[2021-11-23 17:51] paul-uz commented on #308
I tried with `--limit 100` but the debug info still says 30

[code]

[2021-11-23 18:01] paul-uz commented on #308
Limit _does_ work, for numbers <= 99. As soon as you try 100, it defaults back to 30

[2021-11-26 10:57] mv-coder commented on #308
That is, because there is a `MAX_TAGS_LIMIT = 99` in <https://github.com/github-tools/github-release-notes/blob/master/lib/src/Gren.js>. If you go beyond that, it will revert to the default `TAGS_LIMIT = 30`.

[2021-11-26 11:03] paul-uz commented on #308
Well, thats a bit daft isn't it. And not mentioned in the documentation 🙄

[2021-12-09 06:29] urbanyeti commented on #27
Several years later but but it took me awhile to figure out how to do this with templates in a .grenrc.js file so I thought I would share what I used to convert DD/MM/YYYY to YYYY/MM/DD

`	"template": {
		release: function (placeholders) {
			var parts = placeholders.date.split("/");
			var dt = new Date(parseInt(parts[2], 10),
                  parseInt(parts[1], 10) - 1,
                  parseI

[2021-12-09 14:16] guoxunbo commented on #205
same problem. also add -t but it's also does not work.

[2021-12-09 14:31] guoxunbo opened #309 "Personal token 401 error"
[code]
![image](https://user-images.githubusercontent.com/14329149/145415116-cce6e25b-42ff-4dff-b767-a494fdb4461a.png)

I had saw some issue with this proberblem. also use -t [toke] to try make it ok. But It's no.
Here is my token permission.
![image](https://user-images.githubusercontent.com/14329149/145415414-6326bab1-16db-440c-8274-bbc57c8d75f4.png)
There has any way to solve it?  Thanks a lot.

[2022-01-10 08:03] cgyFight opened #310 "only use for github?"
i read the readme, it say need set the github token. may i use it in my private project witch use git?

[2022-02-16 09:40] ByWefox opened #314 "include-messages description error"
Hi!
In the _include-messages_ options, it has this values: <merge, commits, all>, but when we use _merge_ option, release notes doesn't work, because the description values is wrong.
_init.js file has
`{
            name: 'includeMessages',
            type: 'list',
            message: 'Which type of commits do you want to include?',
            choices: [{
                value: 'merges',

[2022-09-11 13:53] yansheng836 commented on #277
For me, the lastest is right,other is `01/01/1970`

![image](https://user-images.githubusercontent.com/45334066/189531155-94af7116-23c6-4323-8c81-910340ce36ba.png)

version

[code]